table {
    width: 100%;    
    border-collapse: collapse;
    margin-bottom: 1.5em;
    /* height: 2.5cm; */
}
table, th, td {
    border: solid 1px black;
}
th {
    background-color: #aaa;
}
td {
    padding: 0.6mm 1mm;
}
.table1_ {
    text-align: center;
    font-size: 0.7em;
}
.table2_ input[type=text], .table2_1 input[type=text] {
    width: 70%;
    margin: auto;
}
.table2_ textarea, .table2_1 textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
}
.table2_, .table2_1 {
    font-size: 0.7em;
    font-weight: 700;
}
.table2_ {
    border-bottom: none;
    margin-bottom: 0;
}
.table2_ .r_b {
    border-bottom: none;
}
.table3_ {
    font-size: 0.65em;
}
.table3_ .cols_ {
    width: 1.5cm !important;
}
.table3_ .cols_ {
    width: 1.5cm !important;
}
.table3_ .colss_ {
    width: 0.75cm !important;
}
.table3_ .colm_ {
    width: 3.5cm !important;
}
.table3_ .colsm_ {
    width: 1.8cm !important;
}
.table3_ .colmm {
    width: 6.5cm !important;
}
.table3_ textarea{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    resize: none;
    overflow: hidden;
    text-align: center;
    font-size: 1.1em;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}
.table3_ input[type=radio] {
    margin-left: 1.5mm;
    margin-right: 0;
}