.page {
  min-height: 36cm !important;
  height: 36cm !important;
}
input[type="number"], input[type="text"] {
    border-bottom: none !important;
    height: 1em !important;
    margin: 0 !important;
    box-sizing: unset !important;
    overflow: hidden !important;
    padding: 0 !important;
  }
  input:focus {
    border-bottom-style: none;
  }

  .green {
    background-color: #ddffdd;
  }
  td {
    padding: 0 1mm;
    border-radius: 0 !important;
    border-collapse: collapse;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  #tab1{
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    border-top: 1px solid var(--text-color);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  
  #tab2{
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  #tab3{
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
  }

  #tab1 td, #tab1 th, #tab2 td, #tab3 td{
    height: 5mm;
    border-bottom: 1px solid #bbb;
  }
  th {
      background-color: #7c7c80;
      font-size: 1.2em;
      color: #fff;      
  }

  .line {
    font-size: .8em;
    margin: 2mm 2mm;
  }
  .line1 {
    width: calc(100% - 4cm);
  }
  .line2 {
    width: calc(100% - 3.3cm);
  }
  .line3 {
    width: calc(100% - 6cm);
  }
  .col50 {
    width: 50%;
  }

  input[type=number] {
    width: calc(100% - 5cm);
  }


  input[type="text"],input[type="number"], input[type="date"], select {
    font-family: var(--font);
    color: var(--input-text-color);
    /* width: 100%; */
    border: none;
    padding: 0 5px;
    outline: none; 
    font-size: 0.8em;
    /*text-align: left;*/
    background: none;
  }
  input[type=text].left-aligned { 
    text-align: left; padding-left: .5em;
  }
  input[type=file] {
    font-size: 0.6em;
  }
  input[type=date] {
    border: none;
    background-color: transparent;
  }
  input[type="file"]#file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  label[for="file"] {
    font-family: var(--font);
    font-size: 0.8em;
    /* color: #fff; */
    background-color: #fff;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 0px 128px !important;
   /*  text-transform: uppercase; */
    width: fit-content;
    text-align: center;
    }