<app-navbar></app-navbar>
<div class="app">
  <section>
    <div class="page">
      <div class="inner">
        <table class="table1_">
          <tr>
            <td rowspan="5" style="width: 43%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
            <td rowspan="5" style="width: 32%;">
              <h2>
                <b>CONTRATO</b>
              </h2>


            </td>
            <td style="padding-top: 3mm;">CÓDIGO: <b>FT-03</b></td>
          </tr>
          <tr>
            <td>EDICIÓN: <b>1</b></td>
          </tr>
          <tr>
            <td>N. REVISIÓN: <b>3</b></td>
          </tr>
          <tr>
            <td rowspan="2">Vigente a partir de: <br><b>05-Dic-14</b></td>
          </tr>
        </table>


        <p>No. de Control: <input type="text"></p>

        <p>CONTRATO DE PRESTACIÓN DE SERVICIOS PROFESIONALES QUE celebran, por una parte MT INGENIERIA S.A. DE C.V.
          representada por el Ing. Héctor Martínez Peña a quien se denominará en lo sucesivo como “LA UNIDAD DE
          VERIFICACIÓN”; por la otra <input type="text"> representada por <input type="text">, quien en lo sucesivo se
          denominará como “EL SOLICITANTE”, los cuales firman para manifestar estar de acuerdo y dar validez al presente
          contrato, ambos presentan identificación oficial (IFE, Cartilla, Pasaporte, Cedula Profesional,CURP).</p><br>

        <p>DECLARACIONES</p><br>

        <p>PRIMERA.- La verificación se realizara en:</p>
        <p>Nombre o Razón Social del Visitado: <input type="text"></p>
        <p>Calle y No.: <input type="text">Colonia o Población: <input type="text"></p>
        <p>Municipio o Delegación: <input type="text">Entidad federativa: <input type="text"> C.P: <input type="text">
        </p><br>
        <p>SEGUNDA.- Declara ser LA UNIDAD DE VERIFICACIÓN ACREDITADA Y APROBADA para la EVALUACIÓN DE LA CONFORMIDAD
          conforme a lo establecido en los artículos 1, 3, 38 Fracc. VI, 68, 69, 70, 71, 84, 85, Y 86 de la LEY FEDERAL
          SOBRE METROLOGÍA Y NORMALIZACIÓN y para los efectos legales señala por domicilio:</p><br>
        <p>TERCERA.- Declara “EL SOLICITANTE “ que requiere de los servicios de “LA UNIDAD DE VERIFICACIÓN” para que de
          acuerdo al Alcance declarado en la segunda cláusula, realice, la verificación de las instalaciones eléctricas
          y/o del sistema de alumbrado del inmueble propiedad de su representada.</p><br>

        <p>CUARTA.- Declara “EL SOLICITANTE”, que no realizará prácticas que presionen, ni ejercerá actitudes que
          induzcan o influyan en el juicio del “UNIDAD DE VERIFICACIÓN”.</p><br>

        <p>QUINTA.- Declara “LA UNIDAD DE VERIFICACIÓN” que está dispuesto a realizar el trabajo enunciado que se le
          encomienda además toda la información que proporcione el cliente se considera de carácter confidencial; ésta
          se asegura, se controla y conserva. Manteniéndola de forma individual en el archivo del cliente, evitando que
          cualquier persona ajena a la UVIE y al cliente, tenga acceso a la misma.</p><br>

        <p>CLAUSULAS</p><br>
        <p> 1. -“EL SOLICITANTE” debe presentar a “LA UNIDAD DE VERIFICACIÓN” los dibujos del proyecto de las
          instalaciones finales y una memoria técnica descriptiva, los cuales deberán contener la información necesaria
          que permita determinar el grado de cumplimiento de las disposiciones indicadas en las normas oficiales
          mexicanas aplicables. Los planos indicarán cuando menos un diagrama que muestre los detalles de los
          alimentadores (Diagrama unifilar) y de los circuitos derivados, indicarán la carga total por cada alimentador
          antes de aplicar los factores de demanda. Los factores aplicados, la carga calculada después de aplicarlos. El
          tipo y tamaño nominal y la longitud de los conductores utilizados y de las canalizaciones; asimismo la
          capacidad nominal de la corriente de interrupción mínima requerida de los dispositivos de protección de
          sobre-corriente requeridos. Además la información que apoye las especificaciones de los productos eléctricos
          aprobados, a utilizar en las instalaciones y la verificación del proyecto. Asimismo los informes de las
          pruebas que se requieran conforme a lo dispuesto en la NOM. En áreas donde se procesen o almacenen sustancias
          sólidas, líquidas o gaseosas fácilmente inflamables (clasificadas), el solicitante debe presentar a la UV
          dibujos de las áreas clasificadas indicando los límites en vistas de planta y cortes transversales y
          longitudinales, de forma que las disposiciones contenidas en la NOM, aplicables a cada clasificación puedan
          ser verificadas objetivamente. La clasificación de las áreas debe hacerse por personas calificadas, bajo la
          responsabilidad del solicitante.</p><br>
        <p>2.- ALCANCE.- “LA UNIDAD DE VERIFICACIÓN” realizará los servicios relacionados con la verificación, con el
          propósito de comprobar el cumplimiento de las siguientes Normas Oficiales Mexicanas, según el caso:</p>
        <p>NOM-001-SEDE-2012 Instalaciones Eléctricas (utilización). <input type="checkbox"></p>
        <p>NOM-007-ENER-2014 Eficiencia energética en sistemas de alumbrado no residenciales. <input type="checkbox">
        </p>
        <p>NOM-013-ENER-2013 Eficiencia energética para sistemas de alumbrado en vialidades. <input type="checkbox"></p>
        <p>Pág. 1 de 2</p>


      </div>
      <div class="no-print" id="printBtn" onclick="window.print()">
        <img src="assets/save.png" alt="" width="75" height="75">
      </div>
    </div>
  </section>
</div>

<div class="app">
  <section>
    <div class="page">
      <div class="inner">
        <table class="table1_">
          <tr>
            <td rowspan="5" style="width: 43%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
            <td rowspan="5" style="width: 32%;">
              <h2>
                <b>CONTRATO</b>
              </h2>


            </td>
            <td style="padding-top: 3mm;">CÓDIGO: <b>FT-03</b></td>
          </tr>
          <tr>
            <td>EDICIÓN: <b>1</b></td>
          </tr>
          <tr>
            <td>N. REVISIÓN: <b>3</b></td>
          </tr>
          <tr>
            <td rowspan="2">Vigente a partir de: <br><b>05-Dic-14</b></td>
          </tr>
        </table>
        <p>El alcance de la Verificación comprende:</p>
        <p>1.- Revisión de planos de proyecto y memoria de cálculo. <input type="checkbox"></p>
        <p>2.- Verificación de acometida en:</p>
        <p class="tab_">Baja tensión <input type="checkbox"></p>
        <p class="tab_">Media tensión <input type="checkbox"></p>
        <p class="tab_">Alta tensión <input type="checkbox"></p>
        <p>3.- Verificación de subestación eléctrica. <input type="checkbox"></p>
        <p>4.- Verificación de instalaciones en baja tensión. <input type="checkbox"></p><br>

        <p>3.- “EL SOLICITANTE” se obliga, a acatar las observaciones documentadas en las Normas Oficiales Mexicanas,
          que hiciere en todo momento “LA UNIDAD DE VERIFICACIÓN”, que por escrito éste último comunicará en forma
          oportuna en un informe técnico documentado de incumplimiento de instalación eléctrica, anexo a una acta de
          evaluación de la conformidad.</p><br>

        <p>4.- Concluidos los trabajos de la instalación referida en cumplimiento total de la Normas Oficiales Mexicanas
          aplicables, “EL VERIFICADOR”, expedirá el dictamen de cumplimiento, mismo que “EL SOLICITANTE “, entregará a
          la compañía suministradora al celebrar el contrato definitivo de suministro eléctrico.</p><br>
        <p>5.- “EL SOLICITANTE” se obliga a pagar a “LA UNIDAD DE VERIFICACIÓN” por el servicio antes descrito la
          cantidad de <input type="text"> (<input type="text"> Pesos 00/100 M.N.), debiéndose agregar el 16% de I.V.A, a
          la entrega por parte del “LA UNIDAD DE VERIFICACIÓN” del DICTAMEN DE CUMPLIMIENTO DE VERIFICACIÓN DE LAS
          NORMAS OFICIALES MEXICANAS aplicables o informe técnico.</p><br>
        <p>6.- En caso que “EL SOLICITANTE” en forma unilateral y sin causas imputables a “LA UNIDAD DE VERIFICACIÓN”,
          cancelará el presente contrato, no tendrá derecho a reclamar la devolución del anticipo o cubrirá el precio de
          lo ejecutado hasta el momento de la cancelación, lo que sea mayor, que tendrá que ser por escrito y por su
          parte, si “LA UNIDAD DE VERIFICACIÓN” no diera cabal cumplimiento a sus obligaciones del presente instrumento,
          “EL SOLICITANTE” Tendrá derecho a rescindirlo.</p><br>
        <p>7.- La cotización de “LA UNIDAD DE VERIFICACIÓN”, la solicitud de “EL SOLICITANTE”, los dibujos del proyecto
          eléctrico la memoria técnica descriptiva, y las pruebas solicitadas para la realización de la verificación y
          los procedimientos de verificación, forman parte integrante del presente contrato.</p><br>
        <p>8.- El cliente podrá emitir las quejas, reclamaciones técnicas y apelaciones que a su derecho convenga.</p>
        <p>9.- Toda la información que proporcione el cliente se considera de carácter confidencial.</p>
        <p>10.- Durante el proceso de verificación, queda imposibilitado de proporcionar cualquier otro servicio al
          cliente que entre en conflicto con la verificación y no se verificaran instalaciones, cuando haya intervenido
          en cualquier otro servicio relacionado con la verificación</p>
        <p>11.- La unidad de verificación y su personal están libres de cualquier presión comercial, financiera o de
          cualquier otro tipo que pueda afectar su juicio.</p>
        <p>12.- El cliente podrá emitir las quejas, reclamaciones técnicas y apelaciones que a su derecho convenga.</p>
        <p>13.- La unidad de verificación cuenta con un seguro de responsabilidad para las actividades de verificación.
        </p>
        <p>14.- La información que entregue el cliente podrá ser exhibida a la autoridad competente cuando la solicite.
        </p>
        <p>15.- La unidad de verificación y el personal no existen conflictos de intereses, ausencia de perjuicios
          neutralidad, equidad, actitud abierta.</p><br>

        <p>Dado por duplicado en la Ciudad de México, a los <input type="number"> días del mes de <input type="number">
          del año <input type="number">.</p><br>

        <table>
          <tr>
            <td>
              <p>"EL SOLICITANTE"</p>
              <div class="sign">
                <div class="signature">
                  <div id="contSign" onclick="btn_click()">
                    <img src="" id="imgSign">
                  </div>
                </div>
                <hr>
                <div>
                  <p><input type="text"></p>
                </div>
              </div>
            </td>
            <td>
              <p>"LAUNIDAD DE VERIFICACIÓN"</p>

              <div class="sign">
                <div class="signature">
                  <div id="contSign2" onclick="btn_click()">
                    <img src="" id="imgSign2">
                  </div>
                </div>
                <hr>
                <div>
                  <p>ING. HÉCTOR MARTÍNEZ PEÑA</p>
                </div>
              </div>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </section>
</div>