<app-navbar></app-navbar>
<form [formGroup]="clientF" autocomplete="off">
<div class="app">
  <section>
    <div class="page-landscape">
      <div class="inner">
        <table class="table1_">
          <tr>
            <td rowspan="5" style="width: 40%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
            <td rowspan="5">
              <h2><b>REGISTROS DE MATERIALES APROBADOS</b></h2>
            </td>
            <td style="padding-top: 3mm;">CÓDIGO: <b>FT-09</b></td>
          </tr>
          <tr>
            <td>EDICIÓN: <b>1</b></td>
          </tr>
          <tr>
            <td>NIVEL REV: <b>3</b></td>
          </tr>
          <tr>
            <td rowspan="2">Vigente: <b>05-Dic-14</b></td>
          </tr>
        </table>

        <table class="table3_">
          <tr>
            <th class="col1_">MATERIAL</th>
            <th class="col2_">MARCA</th>
            <th class="col1_">CERTIFICACIÓN ANCE</th>
            <th class="cols_">NA</th>
            <th class="colm_">CUMPLE</th>
            <th class="colm_">NO CUMPLE</th>
            <th>OBSERVACIONES</th>
          </tr>
          <tr>
            <td><textarea rows="3" formControlName="mt1"></textarea></td>
            <td><textarea rows="3" formControlName="mc1"></textarea></td>
            <td><textarea rows="3" formControlName="c1"></textarea></td>
            <td><input type="radio" formControlName="cu1"  value="na"></td>
            <td><input type="radio" formControlName="cu1"  value="si"></td>
            <td><input type="radio" formControlName="cu1"  value="no"></td>
            <td><textarea rows="3" formControlName="o1"></textarea></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 1">
            <td><textarea rows="3" formControlName="mt2"></textarea></td>
            <td><textarea rows="3" formControlName="mc2"></textarea></td>
            <td><textarea rows="3" formControlName="c2"></textarea></td>
            <td><input type="radio" formControlName="cu2"  value="na"></td>
            <td><input type="radio" formControlName="cu2"  value="si"></td>
            <td><input type="radio" formControlName="cu2"  value="no"></td>
            <td><textarea rows="3" formControlName="o2"></textarea></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 2">
            <td><textarea rows="3" formControlName="mt3"></textarea></td>
            <td><textarea rows="3" formControlName="mc3"></textarea></td>
            <td><textarea rows="3" formControlName="c3"></textarea></td>
            <td><input type="radio" formControlName="cu3"  value="na"></td>
            <td><input type="radio" formControlName="cu3"  value="si"></td>
            <td><input type="radio" formControlName="cu3"  value="no"></td>
            <td><textarea rows="3" formControlName="o3"></textarea></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 3">
            <td><textarea rows="3" formControlName="mt4"></textarea></td>
            <td><textarea rows="3" formControlName="mc4"></textarea></td>
            <td><textarea rows="3" formControlName="c4"></textarea></td>
            <td><input type="radio" formControlName="cu4"  value="na"></td>
            <td><input type="radio" formControlName="cu4"  value="si"></td>
            <td><input type="radio" formControlName="cu4"  value="no"></td>
            <td><textarea rows="3" formControlName="o4"></textarea></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 4">
            <td><textarea rows="3" formControlName="mt5"></textarea></td>
            <td><textarea rows="3" formControlName="mc5"></textarea></td>
            <td><textarea rows="3" formControlName="c5"></textarea></td>
            <td><input type="radio" formControlName="cu5"  value="na"></td>
            <td><input type="radio" formControlName="cu5"  value="si"></td>
            <td><input type="radio" formControlName="cu5"  value="no"></td>
            <td><textarea rows="3" formControlName="o5"></textarea></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 5">
            <td><textarea rows="3" formControlName="mt6"></textarea></td>
            <td><textarea rows="3" formControlName="mc6"></textarea></td>
            <td><textarea rows="3" formControlName="c6"></textarea></td>
            <td><input type="radio" formControlName="cu6"  value="na"></td>
            <td><input type="radio" formControlName="cu6"  value="si"></td>
            <td><input type="radio" formControlName="cu6"  value="no"></td>
            <td><textarea rows="3" formControlName="o6"></textarea></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 6">
            <td><textarea rows="3" formControlName="mt7"></textarea></td>
            <td><textarea rows="3" formControlName="mc7"></textarea></td>
            <td><textarea rows="3" formControlName="c7"></textarea></td>
            <td><input type="radio" formControlName="cu7"  value="na"></td>
            <td><input type="radio" formControlName="cu7"  value="si"></td>
            <td><input type="radio" formControlName="cu7"  value="no"></td>
            <td><textarea rows="3" formControlName="o7"></textarea></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 7">
            <td><textarea rows="3" formControlName="mt8"></textarea></td>
            <td><textarea rows="3" formControlName="mc8"></textarea></td>
            <td><textarea rows="3" formControlName="c8"></textarea></td>
            <td><input type="radio" formControlName="cu8"  value="na"></td>
            <td><input type="radio" formControlName="cu8"  value="si"></td>
            <td><input type="radio" formControlName="cu8"  value="no"></td>
            <td><textarea rows="3" formControlName="o8"></textarea></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 8">
            <td><textarea rows="3" formControlName="mt9"></textarea></td>
            <td><textarea rows="3" formControlName="mc9"></textarea></td>
            <td><textarea rows="3" formControlName="c9"></textarea></td>
            <td><input type="radio" formControlName="cu9"  value="na"></td>
            <td><input type="radio" formControlName="cu9"  value="si"></td>
            <td><input type="radio" formControlName="cu9"  value="no"></td>
            <td><textarea rows="3" formControlName="o9"></textarea></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 9">
            <td><textarea rows="3" formControlName="mt10"></textarea></td>
            <td><textarea rows="3" formControlName="mc10"></textarea></td>
            <td><textarea rows="3" formControlName="c10"></textarea></td>
            <td><input type="radio" formControlName="cu10" value="na"></td>
            <td><input type="radio" formControlName="cu10" value="si"></td>
            <td><input type="radio" formControlName="cu10" value="no"></td>
            <td><textarea rows="3" formControlName="o10"></textarea></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 10">
            <td><textarea rows="3" formControlName="mt11"></textarea></td>
            <td><textarea rows="3" formControlName="mc11"></textarea></td>
            <td><textarea rows="3" formControlName="c11"></textarea></td>
            <td><input type="radio" formControlName="cu11" value="na"></td>
            <td><input type="radio" formControlName="cu11" value="si"></td>
            <td><input type="radio" formControlName="cu11" value="no"></td>
            <td><textarea rows="3" formControlName="o11"></textarea></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 11">
            <td><textarea rows="3" formControlName="mt12"></textarea></td>
            <td><textarea rows="3" formControlName="mc12"></textarea></td>
            <td><textarea rows="3" formControlName="c12"></textarea></td>
            <td><input type="radio" formControlName="cu12" value="na"></td>
            <td><input type="radio" formControlName="cu12" value="si"></td>
            <td><input type="radio" formControlName="cu12" value="no"></td>
            <td><textarea rows="3" formControlName="o12"></textarea></td>
          </tr>
          
        </table>
        <div style="position: absolute; bottom: 0; font-size: 0.8em;">
          <p>Verificación número: UVSEIE 448-A-<b *ngIf="client">{{ client.nocontrol }}/{{ ff.a }}</b></p>
          <p>Fecha: <b *ngIf="client" style="margin-right: 3em;">{{ ff.d }}/{{ month }}/{{ ff.a }} </b><b *ngIf="client">{{ client.cargouv }}: </b>        <b *ngIf="client"> {{ client.nombreuv }}</b></p>
        </div>
      </div>

    </div>
    
  </section>



    <section  *ngIf="clientF.value.filas > 12">
      <div class="page-landscape">
        <div class="inner">
          <table class="table1_">
            <tr>
              <td rowspan="5" style="width: 40%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
              <td rowspan="5">
                <h2><b>REGISTROS DE MATERIALES APROBADOS</b></h2>
              </td>
              <td style="padding-top: 3mm;">CÓDIGO: <b>FT-09</b></td>
            </tr>
            <tr>
              <td>EDICIÓN: <b>1</b></td>
            </tr>
            <tr>
              <td>NIVEL REV: <b>3</b></td>
            </tr>
            <tr>
              <td rowspan="2">Vigente: <b>05-Dic-14</b></td>
            </tr>
          </table>
  
          <table class="table3_">
            <tr>
              <th class="col1_">MATERIAL</th>
              <th class="col2_">MARCA</th>
              <th class="col1_">CERTIFICACIÓN ANCE</th>
              <th class="cols_">NA</th>
              <th class="colm_">CUMPLE</th>
              <th class="colm_">NO CUMPLE</th>
              <th>OBSERVACIONES</th>
            </tr>
            <tr *ngIf="clientF.value.filas > 12">
              <td><textarea rows="3" formControlName="mt13"></textarea></td>
              <td><textarea rows="3" formControlName="mc13"></textarea></td>
              <td><textarea rows="3" formControlName="c13"></textarea></td>
              <td><input type="radio" formControlName="cu13" value="na" ></td>
              <td><input type="radio" formControlName="cu13" value="si" ></td>
              <td><input type="radio" formControlName="cu13" value="no" ></td>
              <td><textarea rows="3" formControlName="o13"></textarea></td>
            </tr>
            <tr *ngIf="clientF.value.filas > 13">
              <td><textarea rows="3" formControlName="mt14"></textarea></td>
              <td><textarea rows="3" formControlName="mc14"></textarea></td>
              <td><textarea rows="3" formControlName="c14"></textarea></td>
              <td><input type="radio" formControlName="cu14"  value="na"></td>
              <td><input type="radio" formControlName="cu14"  value="si"></td>
              <td><input type="radio" formControlName="cu14"  value="no"></td>
              <td><textarea rows="3" formControlName="o14"></textarea></td>
            </tr>
            <tr *ngIf="clientF.value.filas > 14">
              <td><textarea rows="3" formControlName="mt15"></textarea></td>
              <td><textarea rows="3" formControlName="mc15"></textarea></td>
              <td><textarea rows="3" formControlName="c15"></textarea></td>
              <td><input type="radio" formControlName="cu15"  value="na"></td>
              <td><input type="radio" formControlName="cu15"  value="si"></td>
              <td><input type="radio" formControlName="cu15"  value="no"></td>
              <td><textarea rows="3" formControlName="o15"></textarea></td>
            </tr>
            <tr *ngIf="clientF.value.filas > 15">
              <td><textarea rows="3" formControlName="mt16"></textarea></td>
              <td><textarea rows="3" formControlName="mc16"></textarea></td>
              <td><textarea rows="3" formControlName="c16"></textarea></td>
              <td><input type="radio" formControlName="cu16"  value="na"></td>
              <td><input type="radio" formControlName="cu16"  value="si"></td>
              <td><input type="radio" formControlName="cu16"  value="no"></td>
              <td><textarea rows="3" formControlName="o16"></textarea></td>
            </tr>
            <tr *ngIf="clientF.value.filas > 16">
              <td><textarea rows="3" formControlName="mt17"></textarea></td>
              <td><textarea rows="3" formControlName="mc17"></textarea></td>
              <td><textarea rows="3" formControlName="c17"></textarea></td>
              <td><input type="radio" formControlName="cu17"  value="na"></td>
              <td><input type="radio" formControlName="cu17"  value="si"></td>
              <td><input type="radio" formControlName="cu17"  value="no"></td>
              <td><textarea rows="3" formControlName="o17"></textarea></td>
            </tr>
            <tr *ngIf="clientF.value.filas > 17">
              <td><textarea rows="3" formControlName="mt18"></textarea></td>
              <td><textarea rows="3" formControlName="mc18"></textarea></td>
              <td><textarea rows="3" formControlName="c18"></textarea></td>
              <td><input type="radio" formControlName="cu18"  value="na"></td>
              <td><input type="radio" formControlName="cu18"  value="si"></td>
              <td><input type="radio" formControlName="cu18"  value="no"></td>
              <td><textarea rows="3" formControlName="o18"></textarea></td>
            </tr>
            <tr *ngIf="clientF.value.filas > 18">
              <td><textarea rows="3" formControlName="mt19"></textarea></td>
              <td><textarea rows="3" formControlName="mc19"></textarea></td>
              <td><textarea rows="3" formControlName="c19"></textarea></td>
              <td><input type="radio" formControlName="cu19"  value="na"></td>
              <td><input type="radio" formControlName="cu19"  value="si"></td>
              <td><input type="radio" formControlName="cu19"  value="no"></td>
              <td><textarea rows="3" formControlName="o19"></textarea></td>
            </tr>
            <tr *ngIf="clientF.value.filas > 19">
              <td><textarea rows="3" formControlName="mt20"></textarea></td>
              <td><textarea rows="3" formControlName="mc20"></textarea></td>
              <td><textarea rows="3" formControlName="c20"></textarea></td>
              <td><input type="radio" formControlName="cu20"  value="na"></td>
              <td><input type="radio" formControlName="cu20"  value="si"></td>
              <td><input type="radio" formControlName="cu20"  value="no"></td>
              <td><textarea rows="3" formControlName="o20"></textarea></td>
            </tr>
            <tr  *ngIf="clientF.value.filas > 20">
              <td><textarea rows="3" formControlName="mt21"></textarea></td>
              <td><textarea rows="3" formControlName="mc21"></textarea></td>
              <td><textarea rows="3" formControlName="c21"></textarea></td>
              <td><input type="radio" formControlName="cu21"  value="na"></td>
              <td><input type="radio" formControlName="cu21"  value="si"></td>
              <td><input type="radio" formControlName="cu21"  value="no"></td>
              <td><textarea rows="3" formControlName="o21"></textarea></td>
            </tr>
            <tr *ngIf="clientF.value.filas > 21">
              <td><textarea rows="3" formControlName="mt22"></textarea></td>
              <td><textarea rows="3" formControlName="mc22"></textarea></td>
              <td><textarea rows="3" formControlName="c22"></textarea></td>
              <td><input type="radio" formControlName="cu22"  value="na"></td>
              <td><input type="radio" formControlName="cu22"  value="si"></td>
              <td><input type="radio" formControlName="cu22"  value="no"></td>
              <td><textarea rows="3" formControlName="o22"></textarea></td>
            </tr>
            <tr *ngIf="clientF.value.filas > 22">
              <td><textarea rows="3" formControlName="mt23"></textarea></td>
              <td><textarea rows="3" formControlName="mc23"></textarea></td>
              <td><textarea rows="3" formControlName="c23"></textarea></td>
              <td><input type="radio" formControlName="cu23" value="na" ></td>
              <td><input type="radio" formControlName="cu23" value="si" ></td>
              <td><input type="radio" formControlName="cu23" value="no" ></td>
              <td><textarea rows="3" formControlName="o23"></textarea></td>
            </tr>
            <tr *ngIf="clientF.value.filas > 23">
              <td><textarea rows="3" formControlName="mt24"></textarea></td>
              <td><textarea rows="3" formControlName="mc24"></textarea></td>
              <td><textarea rows="3" formControlName="c24"></textarea></td>
              <td><input type="radio" formControlName="cu24" value="na" ></td>
              <td><input type="radio" formControlName="cu24" value="si" ></td>
              <td><input type="radio" formControlName="cu24" value="no" ></td>
              <td><textarea rows="3" formControlName="o24"></textarea></td>
            </tr>
            <!-- <tr>
              <td><textarea rows="3" formControlName="mt25" [(ngModel)]="ft09.mt25"></textarea></td>
              <td><textarea rows="3" formControlName="mc25" [(ngModel)]="ft09.mc25"></textarea></td>
              <td><textarea rows="3" formControlName="c25" [(ngModel)]="ft09.c25"></textarea></td>
              <td><input type="radio" formControlName="cu25" value="na"  [(ngModel)]="ft09.cu25"></td>
              <td><input type="radio" formControlName="cu25" value="si"  [(ngModel)]="ft09.cu25"></td>
              <td><input type="radio" formControlName="cu25" value="no"  [(ngModel)]="ft09.cu25"></td>
              <td><textarea rows="3" formControlName="o25" [(ngModel)]="ft09.o25"></textarea></td>
            </tr>
            <tr>
              <td><textarea rows="3" formControlName="mt26" [(ngModel)]="ft09.mt26"></textarea></td>
              <td><textarea rows="3" formControlName="mc26" [(ngModel)]="ft09.mc26"></textarea></td>
              <td><textarea rows="3" formControlName="c26" [(ngModel)]="ft09.c26"></textarea></td>
              <td><input type="radio" formControlName="cu26" value="na"  [(ngModel)]="ft09.cu26"></td>
              <td><input type="radio" formControlName="cu26" value="si"  [(ngModel)]="ft09.cu26"></td>
              <td><input type="radio" formControlName="cu26" value="no"  [(ngModel)]="ft09.cu26"></td>
              <td><textarea rows="3" formControlName="o26" [(ngModel)]="ft09.o26"></textarea></td>
            </tr> -->
          </table>
          <div style="position: absolute; bottom: 0; font-size: 0.8em;">
            <p>Verificación número: UVSEIE 448-A-<b *ngIf="client">{{ client.nocontrol }}/{{ ff.a }}</b></p>
            <p>Fecha: <b *ngIf="client" style="margin-right: 3em;">{{ ff.d }}/{{ month }}/{{ ff.a }} </b><b *ngIf="client">{{ client.cargouv }}: </b>        <b *ngIf="client"> {{ client.nombreuv }}</b></p>
          </div>
        </div>
  
      </div>
      
    </section>
  </div>
  <div>
    <button class="volver_ no-print" (click)="goBack()">
      Volver
    </button>
    <button class="imprimir_ no-print" onclick="window.print()">
      Imprimir
    </button>
    <button class="guardar_ no-print" (click)="submitClientData()">
      Guardar
    </button>
    <button class="mas_ no-print" (click)="addFila()" *ngIf="clientF.value.filas < 24">
      +
    </button>
    <button class="menos_ no-print" (click)="deleteFila()" *ngIf="clientF.value.filas > 1">
      -
    </button>
  </div>
</form>