table {
    width: 100%;    
    border-collapse: collapse;
    margin-bottom: 1.5em;
}
table, th, td {
    border: solid 1px black;
}
.table1_ {
    text-align: center;
    font-size: 0.7em;
    height: 2.5cm;
}

input[type=radio] {
    margin-left: 0.5em;
    margin-right: 3em;
}
input[type=text] {
    border-bottom: 1px solid #999;
    border-top: none;
    border-right: none;
    border-left: none;
}
p {
    font-size: 0.75em;
    text-align: justify;
    margin: 0.5mm 2mm;
}
.tab_ {
    padding-left: 7mm;
}
.footer_ {
    font-size: 0.7em;
}