<nav class="menu_ no-print">
  <div class="nav-wrapper_">
    <a [routerLink]="['/']" class="brand-logo_">
      <svg class="svg-logo_">
        <text class="text_" x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">
          <tspan class="tspan_" alignment-baseline="middle" text-anchor="middle">MT </tspan>INGENIERIA S.A. DE C.V.
        </text>
      </svg>
    </a>
    <ul class="menu-items_">
      <!-- <li><a href="assets/file.pdf"><img style="width: 2em; margin-top: 0.5em; cursor: pointer;" src="assets/help.svg"></a></li> -->
      <li><img style="width: 2em; margin-top: 0.5em; cursor: pointer;" src="assets/home.svg" [routerLink]="['/']"></li>
      <!-- <li><button class="a" [routerLink]="['/']">Expedientes</button></li>
      <li>
        <button class="nav-add-btn_" [routerLink]="['/']">
          Nuevo +
        </button>
      </li> -->
    </ul>
  </div>
</nav>
