table {
    width: 100%;    
    border-collapse: collapse;
    margin-bottom: 1.5em;
}
table, th, td {
    border: solid 1px black;
}
.table1_ {
    text-align: center;
    font-size: 0.7em;
    height: 2.5cm;
}
.table1_ input {
    width: 1.5cm;
}
p {
    font-size: 0.8em;
    text-align: justify;
}
.tab_ {
    padding-left: 7mm;
}
.footer_ {
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
}
textarea {
    width: 100%;
    font-size: 0.8em;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    resize: none;
}
input {
    border: none;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    width: calc(100% - 2cm);
}