<app-navbar></app-navbar>
<div class="app">
    <section>
      <div class="page">
        <div class="inner">
          <table class="table1_">
            <tr>
              <td rowspan="5" style="width: 43%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
              <td rowspan="5" style="width: 32%;">
                <h2>
                  <b>COTIZACIÓN</b>
                </h2>
                <h4>Fecha: <b *ngIf="client">{{ client.dia }}/{{ month }}/{{ client.anio }} </b>Ref. MTI <b *ngIf="client">{{ client.dia }}/{{ month }}/{{ client.anio }}-10 </b></h4>
  
              </td>
              <td style="padding-top: 3mm;">CÓDIGO: <b>FT-01</b></td>
            </tr>
            <tr>
              <td>EDICIÓN: <b>1</b></td>
            </tr>
            <tr>
              <td>N. REVISIÓN: <b>4</b></td>
            </tr>
            <tr>
              <td rowspan="2">Vigente a partir de: <br><b>17-Nov-17</b></td>
            </tr>
          </table>
  
          <p>Representante: <b *ngIf="client" style="text-transform: uppercase">{{ client.nombre }}</b></p>          
          <p>Teléfono: <b *ngIf="client">{{ client.tel }}</b></p>
          <p>Correo: <b *ngIf="client">{{ client.correo }}</b></p><br>
          <textarea [(ngModel)]="client.intro" rows="3" style="margin-bottom: 0.5em;"></textarea>
  
          <p><b>GENERALES:</b></p><br>
  
          <p>Razón social o nombre del cliente: <b *ngIf="client" style="text-transform: uppercase">{{ client.razon }}</b></p>
          <p>Giro (SCIAN) o actividad empresarial: <b *ngIf="client" style="text-transform: uppercase">{{ client.giro }}</b></p>
          <p>Domicilio del servicio: <b *ngIf="client">{{ client.calle }} {{ client.colonia }}. {{ client.munic }} {{ client.estado }} C.P. {{ client.cp }}</b></p>
          <p>Capacidad total en subestación: <b *ngIf="client">{{ client.sub }}</b></p>
          <p>Carga total instalada: <b *ngIf="client">{{ client.cargai }}</b> kW </p>
          <p>Tipo de servicio: <b *ngIf="client">{{ client.tipos }}</b></p><br>
  
          <textarea [(ngModel)]="client.intro2" rows="3" style="margin-bottom: 0.5em;"></textarea>
          <br>
  
          <p>Alcance de los servicios profesionales de esta Unidad de Verificación de Instalaciones Eléctricas.</p><br>
  
          <p class="tab_"> 1. Ingresar en la pagina electrónica de la SENER el proceso de la verifcaciòn para lo que es
            indispensable
            que el
            solicitante de la verificación entregue los documentos requeridos.</p>
          <p class="tab_"> 2. Revisión del proyecto y memoria técnica descriptiva de la instalación eléctrica, para
            verificar que
            cumpla con los
            requisitos mínimos establecidos en las NOM-001-SEDE-2012.</p>
          <p class="tab_"> 3. Verificar que las instalaciones eléctricas queden de acuerdo al proyecto, para constatar que
            cumplen con
            los
            requisitos de seguridad y estado que guardan con respecto a las NOM-001-SEDE-2012.</p>
          <p class="tab_"> 4. En cada visita de verificación se levantara un acta de evalaución de la conformidad del
            ámbito propio; en
            caso de
            encontrar incumplimientos a la NOM, se entregara un informe técnico de los mismos (Informe de no conformidad).
            El
            cliente firmara de aceptación este reporte y fijara fecha de corrección de las no conformidades.<b> La ley le
            concede 90
            días para corregirlas. SE CONSIDERAN 3 VISITAS A LA INSTALACIÓN.</b></p>
          <p class="tab_"> 5. Se constatará la corrección de las no conformidades. (Cierre de las no conformidades)</p>
          <p class="tab_"> 6. Verificación de las pruebas indicadas en el PEC de la NOM-001-SEDE-2012. (Contratista
            entrega informe de
            pruebas)
          </p>
          <p class="tab_"> 7. Una vez que las instalaciones cumplan con la NOM-001-SEDE-2012, se entrega el dictamen de
            verificación.
          </p>
          <p class="tab_"> <b>8. Cada Dictamen de verificación que la UVIE emita para instalaciones eléctricas que tengan
            áreas peligrosas
            (clasificadas) debe indicar la fecha limite para la próxima verificación de la instalación eléctrica en dichas
            áreas</b>
          </p><br>
  
          <p><b>El cliente debe proporcionar;</b></p><br>
  
          <p class="tab_">1. Solicitud de verificación de la instalación.</p>
          <p class="tab_">2. Identificaciòn oficial (IFE, Cartilla, Cedula Porfesional,Pasaporte o CURP) del representante
              del solicitante de la verifcaciòn y de la persona que atenderá la verificación.</p>
          <p class="tab_">3. RFC de la persona física o moral, que solicita la verificación.</p>
          <p class="tab_">4. Comprobante del domicilio de la instalación eléctrica.</p>
          <p class="tab_">5. Lista de los principales materiales utilizados en la instalación.</p>
          <p class="tab_">6. Lista de las principales cargas instaladas.</p>
          <p class="tab_">7. Diagrama unifilar general de la instalación.</p>
          <p class="tab_">8. Cuadro de cargas generales de la instalación.</p>
          <p class="tab_">9. Plano eléctrico de planta (lay-out) de la disposición de equipos.</p>
          
          <p class="footer_">Este documento hace las veces de contrato cuando ambas partes así lo consideren.En caso que
            “EL SOLICITANTE” en forma unilateral y sin causas imputables a “EL VERIFICADOR”, cancelará la verificación, no
            tendrá derecho a reclamar la devolución del anticipo o cubrirá el precio de lo ejecutado hasta el momento de
            la cancelación, lo que sea mayor, si “EL VERIFICADOR” no diera cabal cumplimiento a sus obligaciones del
            presente instrumento, “EL SOLICITANTE” Tendrá derecho a rescindirlo</p>
  
        </div>        
      </div>      
    </section>
  
    <section>
      <div class="page">
        <div class="inner">
          <table class="table1_">
            <tr>
              <td rowspan="5" style="width: 43%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
              <td rowspan="5" style="width: 32%;">
                <h2>
                  <b>COTIZACIÓN</b>
                </h2>
                <h4>Fecha: <b *ngIf="client">{{ client.dia }}/{{ month }}/{{ client.anio }} </b>Ref. MTI <b *ngIf="client">{{ client.dia }}/{{ month }}/{{ client.anio }}-10 </b></h4>
  
              </td>
              <td style="padding-top: 3mm;">CÓDIGO: <b>FT-01</b></td>
            </tr>
            <tr>
              <td>EDICIÓN: <b>1</b></td>
            </tr>
            <tr>
              <td>N. REVISIÓN: <b>4</b></td>
            </tr>
            <tr>
              <td rowspan="2">Vigente a partir de: <br><b>17-Nov-17</b></td>
            </tr>
          </table>
          <p class="tab_">10. Plano general de tierras.</p>
          <p class="tab_">11. Las pruebas exigidas en el numeral 6.6 del PEC vigente:
              Continuidad eléctrica de envolventes y canalizaciones metálicas, resistencia de electrodos artificiales y de la red de puesta a tierra, polaridad de las conexiones en los contactos.</p>
          <p class="tab_">12. Proyecto de las celdas solares.</p>
          
          
          
          <br>
          <p><b>Declaraciones y compromisos por parte del Gerente Técnico de la unidad de verificación:</b></p><br>
  
          <p>1.- Toda la información que proporcione el cliente se considera de carácter confidencial.</p>
          <p>2.- Durante el proceso de verificación, queda imposibilitado de proporcionar cualquier otro servicio al
            cliente que entre en conflicto con la verificación y no se verificaran instalaciones, cuando haya intervenido
            en cualquier otro servicio relacionado con la verificación.</p>
          <p>3.- La unidad de verificación y su personal están libres de cualquier presión comercial, financiera o de
            cualquier otro tipo que pueda afectar su juicio.</p>
          <p>4.- El cliente podrá emitir las quejas, reclamaciones técnicas y apelaciones que a su derecho convenga.</p>
          <p>5.- La unidad de verificación cuenta con un seguro de responsabilidad civil para las actividades de
            verificación.</p>
          <p>6.- La unidad de verificación y el personal realizan su trabajo con imparcialidad no tienen conflictos de
            interés ni presiones comercilaes, financieras, emocionales, de gobernabilidad, de la dirección, recursos
            compartidos, contratos, pago de comisión por ventas u otros incentivos para la remisión de nuevos clientes u
            otros; actua con ausencia de perjuicio, neutralidad, equidad, actitud abierta.</p>
          <p>7.- La información que entregue el cliente se ingresará a la página electrónica del la Secretaria de Energía
            (SEDIVER) atendiendo un requerimiento de la propia dependencia.</p>
          <p>8. La UVIE a través del SEDIVER generará y enviará el escrito para el informe trimestral de dictamenes de
            verificación e informe trimestral de dictamenes de verificación (anexo D).</p><br>
  
          <p><b>El Costo:</b> “EL SOLICITANTE” se obliga a pagar a “EL VERIFICADOR” por el servicio antes descrito la cantidad de $ <b *ngIf="client">{{ client.costo }}</b> <b> + IVA, (</b><b *ngIf="client">{{ client.costol }}</b> <b> Pesos {{cents}}/100 M.N.), + IVA, a la entrega del Informe Técnico.</b>
            <b>Tiempo de entrega:</b> Si el proyecto e instalación cumplen con la NOM ,al termino de la instalación se entregara
            el dictamen.</p>
            <p><b>Vigencia: </b><input type="text" [(ngModel)]="client.vigencia"></p>
            <p><b>Forma de pago: </b></p><textarea rows="2" [(ngModel)]="client.fpago"></textarea>
            <br>
          
          <!-- <table style="border: none;">
            <tr>
              <td style="border: none;"><p><b>Vigencia: </b><input type="text" [(ngModel)]="client.vigencia"></p></td>
              <td style="border: none;"><b>Forma de pago: </b><textarea rows="2" [(ngModel)]="client.fpago"></textarea></td>
            </tr>
          </table> -->
  
          <p style="text-align: center;"><b>AVISO DE PRIVACIDAD PARA EL MANEJO DE DATOS CONFIDENCIALES</b></p>
          <p>Su información personal proporcionada por este medio será́ utilizada para el servicio de verificación que ha
            solicitado, informarle sobre el avance y necesidades durante la prestación de los mismos, para evaluar la
            calidad del servicio que le brindamos y facturación.
            Usted tiene derecho a acceder a sus datos personales que poseemos y a los detalles del tratamiento de los
            mismos, así como ratificarlo en caso de ser inexactos o instruirnos a cancelarlos cuando considere que
            resulten ser excesivos o innecesarios para las finalidades que justificaron su obtención u oponerse al
            tratamiento de los mismos para fines específicos.</p>
          <p>Su información no se va a hacer de dominio público, excepto por la información que el cliente indique que
            está públicamente disponible, o cuando el acuerdo entre la UV y el cliente así lo indiquen (por ejemplo, con
            el fin de responder a las apelaciones)</p>
          <p><b> Los mecanismos implementados para el ejercicio de dichos derechos son a través de la solicitud respectiva en
            la dirección:</b></p><br>
  
          <p>Sin más por el momento y en espera de poder brindarle nuestros servicios, quedamos en espera de su
            autorización.</p><br>
  
            <table style="border: none;">
              <tr>
                <td style="border: none;">
                  <br>
                    <p style="text-align: center;">ATENTAMENTE</p>
                    <div class="sign" style="margin: 0 auto;">
                      <div class="signature">
                        <div id="contSign" onclick = "btn_click()">
                          <img *ngIf="client" src="{{ client.s1 }}" id="imgSign" (load)="imgChanged($event)">
                        </div>
                      </div>
                      <hr>
                      <div>
                        <p style="text-align: center;"><b style="text-transform: uppercase">{{ client.nombreuv }}</b></p>
                      </div>
                    </div>
                </td>
                <td style="border: none;">
                    <p style="text-align: center;">SI AUTORIZAMOS</p>
                    <p style="text-align: center;">EL PRESENTE PRESUPUESTO</p>
                    <div class="sign" style="margin: 0 auto;">
                      <div class="signature">
                          <div id="contSign" onclick = "btn_click2()">
                            <img *ngIf="client" src="{{ client.s2 }}" id="imgSign2" (load)="imgChanged2($event)">
                          </div>
                      </div>
                      <hr>
                      <div >
                        <p *ngIf="client" style="text-align: center;"><b style="text-transform: uppercase">{{ client.razon }}</b></p>
                      </div>
                    </div>
                </td>
              </tr>
                
              </table>
  
  
          <p class="footer_">Este documento hace las veces de contrato cuando ambas partes así lo consideren.En caso que
            “EL SOLICITANTE” en forma unilateral y sin causas imputables a “EL VERIFICADOR”, cancelará la verificación, no
            tendrá derecho a reclamar la devolución del anticipo o cubrirá el precio de lo ejecutado hasta el momento de
            la cancelación, lo que sea mayor, si “EL VERIFICADOR” no diera cabal cumplimiento a sus obligaciones del
            presente instrumento, “EL SOLICITANTE” Tendrá derecho a rescindirlo</p>
        </div>
      </div>
    </section>
    <div>
      <button class="volver_ no-print" (click)="goBack()">
        Volver
      </button>
      <!-- <button class="imprimir_ no-print" onclick="window.print()">
        Imprimir
      </button> -->  
      <button class="guardar_ no-print" (click)="submitClientData()">
          Guardar
      </button>
      <button class="imprimir_ no-print" (click)="savePDF()">
        PDF
      </button> 
    </div>
  </div>