<app-navbar></app-navbar>
<div class="app">
  <section>
    <div class="page-landscape">
      <div class="inner">
        <table class="table1_">
          <tr>
            <td rowspan="5" style="width: 40%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
            <td rowspan="5">
              <h2><b>DOCUMENTOS DEL USUARIO</b></h2>
            </td>
            <td style="padding-top: 3mm;">CÓDIGO: <b>FT-05</b></td>
          </tr>
          <tr>
            <td>EDICIÓN: <b>1</b></td>
          </tr>
          <tr>
            <td>NIVEL REV: <b>3</b></td>
          </tr>
          <tr>
            <td rowspan="2">Vigente: <b>05-Dic-14</b></td>
          </tr>
        </table>

        <table>
          <tr>
            <td style="width: 70%; text-align: left;">
              <p style="font-size: 0.8em;">CLIENTE: <b *ngIf="client" style="text-transform: uppercase;">{{ client.razon }}</b></p>
            </td>
            <td>
              <p style="font-size: 0.8em;">Verificación No: UVSEIE 448 A-<b *ngIf="client">{{ client.nocontrol }}/{{ ff.a }}</b></p>
            </td>
          </tr>
        </table>
        <form [formGroup]="clientF" autocomplete="off">
        <table class="table3_">
          <tr>
            <th class="col1_">MEDIO DE RECEPCIÓN <p style="font-size: 0.7em;">(ELECTRONICO, COPIA EN PAPEL, ETC)</p>
            </th>
            <th class="col2_">TIPO DE INFORMACIÓN</th>
            <th>OBSERVACIONES</th>
            <th class="cols_">FECHA DE RECEPCIÓN</th>
          </tr>
          <tr>
            <!-- <td><textarea rows="2" formControlName="m1" [(ngModel)]="ft05.m1"></textarea></td> -->
            <td><textarea rows="2" formControlName="m1"></textarea></td>
            <td><textarea rows="2" formControlName="t1"></textarea></td>
            <td><textarea rows="2" formControlName="o1"></textarea></td>
            <td><input type="date" formControlName="f1"></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 1">
            <td><textarea rows="2" formControlName="m2"></textarea></td>
            <td><textarea rows="2" formControlName="t2"></textarea></td>
            <td><textarea rows="2" formControlName="o2"></textarea></td>
            <td><input type="date" formControlName="f2"></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 2">
            <td><textarea rows="2" formControlName="m3"></textarea></td>
            <td><textarea rows="2" formControlName="t3"></textarea></td>
            <td><textarea rows="2" formControlName="o3"></textarea></td>
            <td><input type="date" formControlName="f3"></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 3">
            <td><textarea rows="2" formControlName="m4"></textarea></td>
            <td><textarea rows="2" formControlName="t4"></textarea></td>
            <td><textarea rows="2" formControlName="o4"></textarea></td>
            <td><input type="date" formControlName="f4"></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 4">
            <td><textarea rows="2" formControlName="m5"></textarea></td>
            <td><textarea rows="2" formControlName="t5"></textarea></td>
            <td><textarea rows="2" formControlName="o5"></textarea></td>
            <td><input type="date" formControlName="f5"></td>
          </tr>
          <tr *ngIf="clientF.value.filas > 5">
            <td><textarea rows="2" formControlName="m6"></textarea></td>
            <td><textarea rows="2" formControlName="t6"></textarea></td>
            <td><textarea rows="2" formControlName="o6"></textarea></td>
            <td><input type="date" formControlName="f6"></td>
          </tr>
        </table>
        </form>
      </div>
    </div>
    <div>
      <button class="volver_ no-print" (click)="goBack()">
        Volver
      </button>
      <button class="imprimir_ no-print" onclick="window.print()">
        Imprimir
      </button>
      <button class="guardar_ no-print" (click)="submitClientData()">
        Guardar
      </button>
      <button class="mas_ no-print" (click)="addFila()" *ngIf="clientF.value.filas < 6">
        +
      </button>
      <button class="menos_ no-print" (click)="deleteFila()" *ngIf="clientF.value.filas > 1">
        -
      </button>
    </div>
  </section>
</div>