<app-navbar></app-navbar>
<div class="app">
    <section>
      <div class="page-landscape">
        <div class="inner">
          <table class="table1_">
            <tr>
              <td rowspan="5" style="width: 40%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
              <td rowspan="5">
                <h2><b>DOCUMENTOS DEL USUARIO</b></h2>
              </td>
              <td style="padding-top: 3mm;">CÓDIGO: <b>FT-05</b></td>
            </tr>
            <tr>
              <td>EDICIÓN: <b>1</b></td>
            </tr>
            <tr>
              <td>NIVEL REV: <b>3</b></td>
            </tr>
            <tr>
              <td rowspan="2">Vigente: <b>05-Dic-14</b></td>
            </tr>
          </table>
  
          <table>
            <tr>
              <td style="width: 70%;">CLIENTE: <input type="text"></td>
              <td>Verificación No: UVSEIE 448 A-<input type="text">/<!-- <input type="text"> --></td>
            </tr>
          </table>
  
          <table class="table3_">
            <tr>
              <th class="col1_">MEDIO DE RECEPCIÓN <p style="font-size: 0.7em;">(ELECTRONICO, COPIA EN PAPEL, ETC)</p></th>
              <th class="col2_">TIPO DE INFORMACIÓN</th>
              <th>OBSERVACIONES</th>
              <th class="cols_">FECHA DE RECEPCIÓN</th>
            </tr>
            <tr>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
            </tr>
            <tr>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
            </tr>
          </table>
        </div>
        <div class="no-print" id="printBtn" onclick="window.print()">
          <img src="assets/save.png" alt="" width="75" height="75">
        </div>
      </div>
    </section>
  </div>