<app-navbar></app-navbar>
<div class="app">
  <section>
    <div class="page-landscape">
      <div class="inner">
        <table class="table1_">
          <tr>
            <td rowspan="5" style="width: 40%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
            <td rowspan="5">
              <h2><b>DOCUMENTOS DEL USUARIO</b></h2>
            </td>
            <td style="padding-top: 3mm;">CÓDIGO: <b>FT-05</b></td>
          </tr>
          <tr>
            <td>EDICIÓN: <b>1</b></td>
          </tr>
          <tr>
            <td>NIVEL REV: <b>3</b></td>
          </tr>
          <tr>
            <td rowspan="2">Vigente: <b>05-Dic-14</b></td>
          </tr>
        </table>

        <table>
          <tr>
            <td style="width: 70%; text-align: left;">
              <p style="font-size: 0.8em;">CLIENTE: <b *ngIf="client" style="text-transform: uppercase;">{{ client.razon }}</b></p>
            </td>
            <td>
              <p style="font-size: 0.8em;">Verificación No: UVSEIE 448 A-<b *ngIf="client">{{ client.nocontrol }}/{{ client.anio }}</b></p>
            </td>
          </tr>
        </table>
        <form [formGroup]="clientF" autocomplete="off">
        <table class="table3_">
          <tr>
            <th class="col1_">MEDIO DE RECEPCIÓN <p style="font-size: 0.7em;">(ELECTRONICO, COPIA EN PAPEL, ETC)</p>
            </th>
            <th class="col2_">TIPO DE INFORMACIÓN</th>
            <th>OBSERVACIONES</th>
            <th class="cols_">FECHA DE RECEPCIÓN</th>
          </tr>
          <tr>
            <td><textarea rows="2" formControlName="m1" [(ngModel)]="ft05.m1"></textarea></td>
            <td><textarea rows="2" formControlName="t1" [(ngModel)]="ft05.t1"></textarea></td>
            <td><textarea rows="2" formControlName="o1" [(ngModel)]="ft05.o1"></textarea></td>
            <td><p>{{ client.dia }}/{{ client.mes }}/{{ client.anio }}</p></td>
          </tr>
          <tr>
            <td><textarea rows="2" formControlName="m2" [(ngModel)]="ft05.m2"></textarea></td>
            <td><textarea rows="2" formControlName="t2" [(ngModel)]="ft05.t2"></textarea></td>
            <td><textarea rows="2" formControlName="o2" [(ngModel)]="ft05.o2"></textarea></td>
            <td><textarea rows="2"></textarea></td>
          </tr>
          <tr>
            <td><textarea rows="2" formControlName="m3" [(ngModel)]="ft05.m3"></textarea></td>
            <td><textarea rows="2" formControlName="t3" [(ngModel)]="ft05.t3"></textarea></td>
            <td><textarea rows="2" formControlName="o3" [(ngModel)]="ft05.o3"></textarea></td>
            <td><textarea rows="2"></textarea></td>
          </tr>
          <tr>
            <td><textarea rows="2" formControlName="m4" [(ngModel)]="ft05.m4"></textarea></td>
            <td><textarea rows="2" formControlName="t4" [(ngModel)]="ft05.t4"></textarea></td>
            <td><textarea rows="2" formControlName="o4" [(ngModel)]="ft05.o4"></textarea></td>
            <td><textarea rows="2"></textarea></td>
          </tr>
          <tr>
            <td><textarea rows="2" formControlName="m5" [(ngModel)]="ft05.m5"></textarea></td>
            <td><textarea rows="2" formControlName="t5" [(ngModel)]="ft05.t5"></textarea></td>
            <td><textarea rows="2" formControlName="o5" [(ngModel)]="ft05.o5"></textarea></td>
            <td><textarea rows="2"></textarea></td>
          </tr>
          <tr>
            <td><textarea rows="2" formControlName="m6" [(ngModel)]="ft05.m6"></textarea></td>
            <td><textarea rows="2" formControlName="t6" [(ngModel)]="ft05.t6"></textarea></td>
            <td><textarea rows="2" formControlName="o6" [(ngModel)]="ft05.o6"></textarea></td>
            <td><textarea rows="2"></textarea></td>
          </tr>
        </table>
        </form>
      </div>
    </div>
    <div>
      <button class="volver_ no-print" (click)="goBack()">
        Volver
      </button>
      <button class="imprimir_ no-print" onclick="window.print()">
        Imprimir
      </button>
      <button class="guardar_ no-print" (click)="submitClientData()">
        Guardar
      </button>
    </div>
  </section>
</div>