table {
    width: 100%;    
    border-collapse: collapse;
    margin-bottom: 1.5em;
  /*   height: 2.5cm; */
}
table, th, td {
    border: solid 1px black;
}
th {
    background-color: #aaa;
}

.table1_ {
    text-align: center;
    font-size: 0.7em;
}
.table3_ {
    font-size: 0.8em;
}
.table3_ .col1_ {
    width: 4cm;
}
.table3_ .col2_ {
    width: 7cm;
}
.table3_ .cols_ {
    width: 3.5cm;
}
.table3_ textarea{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    resize: none;
    overflow: hidden;
}

textarea {
    width: 100%;
    border: none;
}

td {
    text-align: center;
    padding: 2mm;
}