<app-navbar></app-navbar>
<div class="app">
  <section>
    <!-- <div class="page-landscape">
        <div class="inner"> -->
    
    <div class="mini-content" *ngIf="clientData">
      <div class="forms">
        <div class="mini-page" style="height: 2cm;" [ngClass]="{'green':clientData.razon, 'gray':!clientData.razon}">
            <p>CARÁTULA</p>
            <table>
              <tr>
                <td><p style="text-transform: uppercase;">Razón Social: <b>{{ clientData.razon }}</b></p></td>
                <td class="rigth_">
                  <img src="assets/eye.svg" [routerLink]="['/caratula/', key]">
                </td>
              </tr>
            </table>            
        </div>
        <div class="mini-page"  [ngClass]="{'green':clientData.fft01, 'gray':!clientData.fft01}">
            <p>FT-01 COTIZACIÓN</p>
            <table>
              <tr>
                <!-- <td><img src="assets/save.svg" (click)="updateFi()"></td> -->
                <td>Fecha: {{clientData.fft01}}</td>
                <td class="rigth_">
                  <!-- <img src="assets/edit.svg" [routerLink]="['/edit-coti/', key]"> -->
                  <img src="assets/eye.svg" [routerLink]="['/ft-01/', key]">
                </td>
              </tr>
            </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft02, 'gray':!clientData.fft02}">
            <p>FT-02 SOLICITUD DE VERIFICACIÓN</p>
            <table>
              <tr>
                <!-- <td><img src="assets/save.svg" (click)="updateFt02()"></td> -->
                <td>Fecha: {{clientData.fft02}}</td>
                <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-02/', key]"></td>
              </tr>
            </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fechai, 'gray':!clientData.fechai}">
            <p>FT-03 CONTRATO</p>
             <table>
              <tr>
                <!-- <td><img src="assets/save.svg" (click)="updateFt03()"></td> -->
                <td>Fecha: {{clientData.fechai}}</td>
                <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-03/', key]"></td>
              </tr>
            </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft05, 'gray':!clientData.fft05}">
            <p>FT-05 DOCUMENTOS DEL USUARIO</p>
             <table>
              <tr>
                <!-- <td><img src="assets/save.svg" (click)="updateFt05()"></td> -->
                <td>Fecha: {{clientData.fft05}}</td>
                <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-05/', key]"></td>
              </tr>
            </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft06, 'gray':!clientData.fft06}">
            <p>FT-06 LISTA DE VERIFICACIÓN PROYECTO</p>
             <table>
              <tr>
                <!-- <td><img src="assets/save.svg" (click)="updateFt06()"></td> -->
                <td>Fecha: {{clientData.fft06}}</td>
                <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-06/', key]"></td>
              </tr>
            </table>
        </div>
        <!-- <div class="mini-page" >
            <p>FT-07 ACTA DE EVALUACIÓN DE LA CONFORMIDAD</p>
             <table>
              <tr>
                <td><img src="assets/save.svg"></td>
                <td>Fecha: <input type="date"></td>
                <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-07/', key]"></td>
              </tr>
            </table>
        </div> -->
        <div class="mini-page" [ngClass]="{'green':clientData.fft09, 'gray':!clientData.fft09}">
            <p>FT-09 REGISTRO DE MATERIALES APROBADOS</p>
             <table>
              <tr>
                <!-- <td><img src="assets/save.svg" (click)="updateFt09()"></td> -->
                <td>Fecha: {{clientData.fft09}}</td>
                <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-09/', key]"></td>
              </tr>
            </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft10, 'gray':!clientData.fft10}">
            <p>FT-10 LISTA DE VERIFICACIÓN INSTALACIONES</p>
             <table>
              <tr>
                <!-- <td><img src="assets/save.svg" (click)="updateFt10()"></td> -->
                <td>Fecha: {{clientData.fft10}}</td>
                <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-10/', key]"></td>
              </tr>
            </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft11, 'gray':!clientData.fft11}">
            <p>FT-11 INFORME DE PRUEBAS</p>
            <table>
                <tr>
                  <!-- <td><img src="assets/save.svg" (click)="updateFt11()"></td> -->
                  <td>Fecha: {{clientData.fft11}}</td>
                  <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-11/', key]"></td>
                </tr>
              </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.ffc07, 'gray':!clientData.ffc07}">
            <p>FC-07 SUPERVISION DE EXPEDIENTE</p>
             <table>
              <tr>
                <!-- <td><img src="assets/save.svg" (click)="updateFc07()"></td> -->
                <td>Fecha: {{clientData.ffc07}}</td>
                <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/fc-07/', key]"></td>
              </tr>
            </table>
        </div>
      </div>
      <!-- <div class="incpe">
        <div class="mini-page"  style="height: 2cm;">
          <p>NUEVO FORMATO</p>
          <table>
            <tr>
              <td>
              Tipo: 
                <select name="n-ft08" [(ngModel)]="newF.tipo">
                  <option value="PEC">FT-08 INCPE</option>
                  <option value="NOM">FT-08 INCIE</option>
                  <option value="RTPE">FT-15 RTPE</option>
                  <option value="AECIE">FT-07 AECIE</option>
                </select>
                Fecha: <input type="date" [(ngModel)]="newF.fecha">
              </td>
              <td class="rigth_">
                <img src="assets/add_.svg" (click)="addForm()">
                
              </td>
            </tr>
          </table>
        </div>
        <div *ngFor="let ft of ft81List; let i=index;" class="mini-page"  [ngClass]="{'green':ft.fecha, 'gray':!ft.fecha}">
            <p> FT-08 INCIE{{ ft.id_ }}</p>
            <table>
              <tr>
                <td><img src="assets/save.svg" (click)="updateFt81(ft, key)"></td>
                <td>Fecha: <input type="date" [(ngModel)]="ft.fecha"></td>
                <td class="rigth_">                  
                  <img *ngIf="!off" src="assets/eye.svg" [routerLink]="['/ft-081/', key, ft.$key, ft.tipo]" >
                  <img *ngIf="off" src="assets/eye.svg" [routerLink]="['/ft-081/', key, ft.id, ft.tipo]" >
                </td>
              </tr>
            </table>
        </div>
        <div *ngFor="let ft of ft82List; let i=index;" class="mini-page"  [ngClass]="{'green':ft.fecha, 'gray':!ft.fecha}">
          <p>FT-08 INCPE{{ ft.id_ }}</p>
          <table>
            <tr>
              <td><img src="assets/save.svg" (click)="updateFt82(ft, key)"></td>
              <td>Fecha: <input type="date" [(ngModel)]="ft.fecha"></td>
              <td class="rigth_">                  
                <img *ngIf="!off" src="assets/eye.svg" [routerLink]="['/ft-081/', key, ft.$key, ft.tipo]">
                <img *ngIf="off" src="assets/eye.svg" [routerLink]="['/ft-081/', key, ft.id, ft.tipo]">
              </td>
            </tr>
          </table>
        </div>
        <div *ngIf="ft07List">
        <div *ngFor="let ft of ft07List; let i=index;" class="mini-page"  [ngClass]="{'green':ft.fecha, 'gray':!ft.fecha}">
          <p>FT-07 AECIE{{ ft.id_ }}</p>
          <table>
            <tr>
              <td><img src="assets/save.svg" (click)="updateFt07(ft, key)"></td>
              <td>Fecha: <input type="date" [(ngModel)]="ft.fecha"></td>
              <td class="rigth_">                  
                <img *ngIf="!off" src="assets/eye.svg" [routerLink]="['/ft-07/', key, ft.$key, ft.tipo]">
                <img *ngIf="off" src="assets/eye.svg" [routerLink]="['/ft-07/', key, ft.id, ft.tipo]">
              </td>
            </tr>
          </table>
      </div>
        </div>
        <div *ngFor="let ft of ft15List; let i=index;" class="mini-page"  [ngClass]="{'green':ft.fecha, 'gray':!ft.fecha}">
          <p>FT-15 RTPE{{ ft.id_ }}</p>
          <table>
            <tr>
              <td><img src="assets/save.svg" (click)="updateFt15(ft, key)"></td>
              <td>Fecha: <input type="date" [(ngModel)]="ft.fecha"></td>
              <td class="rigth_">                  
                <img *ngIf="!off" src="assets/eye.svg" [routerLink]="['/ft-07/', key, ft.$key, ft.tipo]">
                <img *ngIf="off" src="assets/eye.svg" [routerLink]="['/ft-07/', key, ft.id, ft.tipo]">
              </td>
            </tr>
          </table>
        </div>
      </div> -->
      <div class="inciee">
        <div class="mini-page" [ngClass]="{'green':clientData.fft071, 'gray':!clientData.fft071}">
          <p>FT-07 ACTA DE EVALUACIÓN DE LA CONFORMIDAD 1</p>
           <table>
            <tr>
              <td>Fecha: {{clientData.fft071}}</td>
              <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-07/', key, '71']"></td>
            </tr>
          </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft072, 'gray':!clientData.fft072}">
          <p>FT-07 ACTA DE EVALUACIÓN DE LA CONFORMIDAD 2</p>
           <table>
            <tr>
              <td>Fecha: {{clientData.fft072}}</td>
              <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-07/', key,'72']"></td>
            </tr>
          </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft08ie1, 'gray':!clientData.fft08ie1}">
          <p>FT-08 INFORME DE NO CONFORMIDAD INSTALACIONES 1</p>
           <table>
            <tr>
              <td>Fecha: {{clientData.fft08ie1}}</td>
              <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-08/', key, '8i1']"></td>
            </tr>
          </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft08ie2, 'gray':!clientData.fft08ie2}">
          <p>FT-08 INFORME DE NO CONFORMIDAD INSTALACIONES 2</p>
           <table>
            <tr>
              <td>Fecha: {{clientData.fft08ie2}}</td>
              <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-08/', key,'8i2']"></td>
            </tr>
          </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft08pe1, 'gray':!clientData.fft08pe1}">
          <p>FT-08 INFORME DE NO CONFORMIDAD DE PROYECTO 1</p>
           <table>
            <tr>
              <td>Fecha: {{clientData.fft08pe1}}</td>
              <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-08/', key, '8p1']"></td>
            </tr>
          </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft08pe2, 'gray':!clientData.fft08pe2}">
          <p>FT-08 INFORME DE NO CONFORMIDAD DE PROYECTO 2</p>
           <table>
            <tr>
              <td>Fecha: {{clientData.fft08pe2}}</td>
              <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-08/', key, '8p2']"></td>
            </tr>
          </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft151, 'gray':!clientData.fft151}">
          <p>FT-15 REPORTE TECNICO DE PROYECTO 1</p>
           <table>
            <tr>
              <td>Fecha: {{clientData.fft151}}</td>
              <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-07/', key, '151']"></td>
            </tr>
          </table>
        </div>
        <div class="mini-page" [ngClass]="{'green':clientData.fft152, 'gray':!clientData.fft152}">
          <p>FT-15 REPORTE TECNICO DE PROYECTO 2</p>
           <table>
            <tr>
              <td>Fecha: {{clientData.fft152}}</td>
              <td class="rigth_"><img src="assets/eye.svg" [routerLink]="['/ft-07/', key, '152']"></td>
            </tr>
          </table>
        </div>
      </div>


    </div>
    
  </section>
  <div>
    <button class="volver_ no-print" (click)="goBack()">
      Volver
    </button>
    <button class="imprimir_ no-print" [routerLink]="['/edit-client/', key]">
      Editar
    </button>
  </div>
</div>