<div class="app">
  <section>
    <div class="page-landscape">
      <div class="inner">
        <table class="table1_">
          <tr>
            <td rowspan="4" style="width: 25%;"><img src="assets/mt.png" style="height: 2cm;"></td>
            <td rowspan="4" style="width: 25%;">
              <h3><b>LISTA DE VERIFICACIÓN PROYECTO ELECTRICO NOM-001-SEDE-2012</b></h3>
              <p>VERIFICACIÓN No. UVSEIE 448 A- <input type="text"></p>
              <p>FECHA: <input type="text"></p>
            </td>
            <td colspan="3">RAZÓN SOCIAL: <input type="text"></td>
            <!-- <td style="padding-top: 3mm;">CÓDIGO: <b>FC-07</b></td> -->
          </tr>
          <tr>
            <td>TENSIÓN: <input type="text"></td>
            <td>CÓDIGO: <b>FT-06</b></td>
            <td>EDICIÓN: <b>1</b></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2">CARGA INSTALADA: <input type="text"> <b>Kw</b></td>
            <td rowspan="2">NIVEL REV: <b>3</b></td>
            <td rowspan="2">VIGENCIA: <br><b>05-Dic-14</b></td>
          </tr>
        </table>

        <!-- <table class="table2_">
            <tr>
              <td colspan="4" style="width: 45%;">
                Razón Social:
                <textarea name="" id="" rows="2"></textarea>
              </td>
              <td colspan="2" style="width: 25%;">
                Giro (SCIAN):
                <textarea name="" id="" rows="2"></textarea>
              </td>
              <td colspan="2">No. Pedido: <input type="text"></td>
            </tr>
            <tr>
              <td rowspan="2" colspan="4" class="r_b">
                Domicilio:
                <textarea name="" id="" rows="3"></textarea>
              </td>
              <td rowspan="2" colspan="2" class="r_b">
                Responsable:
                <textarea name="" id="" rows="3"></textarea>
              </td>
              <td colspan="2">Fecha:</td>
            </tr>
            <tr>
              <td class="r_b">Inicio <input type="text"></td>
              <td class="r_b">Termino <input type="text"></td>
            </tr>
          </table>
          <table class="table2_1" style="border-top: none;">
            <tr>
              <td style="width: 3.5cm;">Tel: <input type="text"></td>
              <td style="width: 3.5cm;" colspan="2">Fax: <input type="text"></td>
              <td colspan="5">Correo electrónico: <input type="text"></td>
            </tr>
            <tr>
              <td>Planos: <input type="text"></td>
              <td>A.T. <input type="checkbox" name="fc-at" id=""></td>
              <td>B.T. <input type="checkbox" name="fc-at" id=""></td>
              <td style="width: 25%;">Memoria Técnica: <br>
                <label for="mem-tec-si">Si</label>
                <input type="radio" name="mem-tec" id="mem-tec-si">
                <label for="mem-tec">No</label>
                <input type="radio" name="mem-tec" id="mem-tec-no">
              </td>
              <td style="width: 10%;">Subestación: <br> <input type="text">KVA </td>
              <td style="width: 10%;">Carga Instalada: <br> <input type="text">KV</td>
              <td colspan="2">Tipo de Instalación: <br>
                <label for="tipo-i">Concentración Pública</label>
                <input type="radio" name="mem-tec" id="tipo-i-c">
                <label for="tipo-i-a">Área Peligrosa</label>
                <input type="radio" name="mem-tec" id="tipo-i-a">
              </td>
            </tr>
          </table> -->

        <table class="table3_">
          <tr>
            <th rowspan="2" class="cols_">NOM Referencia</th>
            <th rowspan="2">Texto de Referencia (Requisitos Generales a Verificar)</th>
            <th rowspan="2" class="colsm_">Tipo de Verificación</th>
            <th rowspan="2" class="colm_">Criterio de Aceptación o Rechazo</th>
            <th rowspan="2" class="colm_">Observaciones de la verificación al Proyecto</th>
            <th rowspan="2" class="colm_">Observaciones de la verificación en sitio</th>
            <th colspan="2" class="colsm_">Cumple</th>
          </tr>
          <tr>
            <th>SI</th>
            <th>NO</th>
          </tr>
          <tr>
            <td colspan="8">
              <p><b>Para instalaciones eléctricas con carga instalada menor a 100 KW</b></p>
              <p>Las instalaciones eléctricas que teniendo esta carga, cuenten con áreas peligrosa (clasificadas), le
                aplica lo indicado en el punto 6.2 del PEC</p>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <p>Se recibe el Proyecto Eléctrico correspondiente.</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <p>PEC 7.1</p>
            </td>
            <td>
              <p>El proyecto esta integrado por un diagrama unifilar.</p>
            </td>
            <td>
              <p>D</p>
            </td>
            <td>
              <p>Contenga información de todos los circuitos</p>
            </td>
            <td><textarea rows="2"></textarea></td>
            <td><textarea rows="2"></textarea></td>
            <td><input type="radio" name="ft-06-1"></td>
            <td><input type="radio" name="ft-06-1"></td>
          </tr>
          <tr>
            <td>
              <p>PEC 7.1</p>
            </td>
            <td>
              <p>Relación de cargas.</p>
            </td>
            <td>
              <p>D</p>
            </td>
            <td>
              <p>Se acepta si se hay una relación de cargas.</p>
            </td>
            <td><textarea rows="2"></textarea></td>
            <td><textarea rows="2"></textarea></td>
            <td><input type="radio" name="ft-06-2"></td>
            <td><input type="radio" name="ft-06-2"></td>
          </tr>
          <tr>
            <td>
              <p>PEC 7.1</p>
            </td>
            <td>
              <p>Lista de los principales materiales y equipos utilizados de manera general incluida la lnformación de
                Transformadores cuando aplique, documentoque compruebe que están aprobados y cumplen con las normas
                oficiales mexicanas y disposiciones legales aplicables</p>
            </td>
            <td>
              <p>D</p>
            </td>
            <td>
              <p>Se acepta si hay una lista de materialesy un documento de certificación del TR</p>
            </td>
            <td><textarea rows="2"></textarea></td>
            <td><textarea rows="2"></textarea></td>
            <td><input type="radio" name="ft-06-3"></td>
            <td><input type="radio" name="ft-06-3"></td>
          </tr>
          <tr>
            <td>
              <p>NOM-001-SEDE-2012
                215-5,
                310-10c)</p>
            </td>
            <td>
              <p>¿El diagrama de alimentadores muestra los detalles de los circuitos alimentadores, superficie en m2 del
                edificio, carga total conectada, factores de demanda, carga calculada, el tipo tamaño nominal y longitud
                de los conductores y caída de tensión de cada circuito derivado,alimentador,tipo de aislamiento?</p>
            </td>
            <td>
              <p>D</p>
            </td>
            <td>
              <p>Se acepta si cumple con el 215-5</p>
            </td>
            <td><textarea rows="2"></textarea></td>
            <td><textarea rows="2"></textarea></td>
            <td><input type="radio" name="ft-06-4"></td>
            <td><input type="radio" name="ft-06-4"></td>
          </tr>
          <tr>
            <td>
              <p>PEC 7.2</p>
            </td>
            <td colspan="7">
              <p><b>Para instalaciones eléctricas con carga instalada igual o mayor a 100 kW.</b></p>
            </td>
          </tr>
          <tr>
            <td>PEC 7.2.I, 215-5</td>
            <td>
              <p>El Diagrama unifilar debe contener:</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <p>PEC 7.2.I.1</p>
            </td>
            <td>
              <p>Características de la acometida.</p>
            </td>
            <td>
              <p>D</p>
            </td>
            <td>
              <p>Se acepta si se define dichas características.</p>
            </td>
            <td><textarea rows="2"></textarea></td>
            <td><textarea rows="2"></textarea></td>
            <td><input type="radio" name="ft-06-5"></td>
            <td><input type="radio" name="ft-06-5"></td>
          </tr>
          <tr>
            <td>
              <p>PEC 7.2.I.2</p>
            </td>
            <td>
              <p>Características de la subestación.</p>
            </td>
            <td>
              <p>D</p>
            </td>
            <td>
              <p>Se acepta si define las características de la subestación.</p>
            </td>
            <td><textarea rows="2"></textarea></td>
            <td><textarea rows="2"></textarea></td>
            <td><input type="radio" name="ft-06-6"></td>
            <td><input type="radio" name="ft-06-6"></td>
          </tr>
          <tr>
            <td>
              <p>PEC 7.2.I.3,
                210-19 nota 4,
                310-8c)</p>
            </td>
            <td>
              <p>Características de los alimentadores hasta los centros de carga, tableros de fuerza, alumbrado, entre
                otros, indicando en cada caso el tamaño (calibre) de los conductores (conductores activos, neutro y de
                puesta a tierra), la longitud y la corriente en amperes, (%e, canalización,tipo de aislamiento.)</p>
            </td>
            <td>
              <p>D</p>
            </td>
            <td>
              <p>Se acepta si se indican las características de los alimentadores.</p>
            </td>
            <td><textarea rows="2"></textarea></td>
            <td><textarea rows="2"></textarea></td>
            <td><input type="radio" name="ft-06-7"></td>
            <td><input type="radio" name="ft-06-7"></td>
          </tr>
          <tr>
            <td>
              <p>PEC 7.2.I.4,
                110-9</p>
            </td>
            <td>
              <p>Tipo de los dispositivos de interrupción, capacidad interruptiva e intervalo de ajuste de cada una de
                las protecciones de los alimentadores.</p>
            </td>
            <td>
              <p>D</p>
            </td>
            <td>
              <p>Se acepta si se indican los tipos, sus ajustes y capacidades de interrupción.</p>
            </td>
            <td><textarea rows="2"></textarea></td>
            <td><textarea rows="2"></textarea></td>
            <td><input type="radio" name="ft-06-8"></td>
            <td><input type="radio" name="ft-06-8"></td>
          </tr>
          <tr>
            <td>PEC 7.2.II</td>
            <td>
              <p>Cuadro de distribución de cargas por circuito, el cual debe contener:</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
              <td>
                <p>PEC 7.2.II.1</p>
              </td>
              <td>
                <p>Circuito de alumbrado y luminarias.</p>
              </td>
              <td>
                <p>D</p>
              </td>
              <td>
                <p>Se acepta si se indican los circuitos.</p>
              </td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><input type="radio" name="ft-06-9"></td>
              <td><input type="radio" name="ft-06-9"></td>
            </tr>
            <tr>
            <td>
              <p>PEC 7.2.II.2</p>
            </td>
            <td>
              <p>Número de circuitos, número de lámparas, receptáculos, dispositivos eléctricos por cada circuito, fase o fases a que va conectado el circuito, carga en watts o VA y corriente en amperes de cada circuito, tamaño (calibre) de los conductores, protección contra sobre corriente por cada circuito y el desbalanceo entre fases expresado en por ciento.</p>
            </td>
            <td>
              <p>D</p>
            </td>
            <td>
              <p>Se acepta si se indican todas las características indicadas.</p>
            </td>
            <td><textarea rows="2"></textarea></td>
            <td><textarea rows="2"></textarea></td>
            <td><input type="radio" name="ft-06-10"></td>
            <td><input type="radio" name="ft-06-10"></td>
          </tr>

        </table>

        <table>
          <tr>
            <td>
              <p>&#9632; Cumple</p>
            </td>
            <td>
              <p>&#9632; No cumple</p>
            </td>
            <td>
              <p>&#9633; No aplica</p>
            </td>
            <td>
              <p>A: Análisis</p>
            </td>
            <td>
              <p>D: Documental</p>
            </td>
            <td>
              <p>O: Ocular</p>
            </td>
            <td>
              <p>C: Comprobación</p>
            </td>
            <td>
              <p>M: Medición</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="no-print" id="printBtn" onclick="window.print()">
        <img src="assets/save.png" alt="" width="75" height="75">
      </div>
    </div>
  </section>
</div>