section {
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin: 0 !important;
    /*background-color: green;*/
   /* background-color: rgba(0, 255, 0, 0.8);*/
    background-color: #006600;
}
.main-content {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #fff;
    -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
}

table {
    position: relative;
    width: 60%;
    margin: 0 auto;
    z-index: 2;
   /*  padding-top: 2rem; */
  /* margin: auto;*/
}
td {
    text-align: center;
}
span img {
    width: 5rem;
    cursor: pointer;
}
p {
    font-size: 1.4em;
}
.mini-page {
    cursor: pointer;
}