<app-navbar></app-navbar>
<div class="app">
  <section>
    <div class="page-landscape">
      <div class="inner">
        <table class="table1_">
          <tr>
            <td rowspan="5" style="width: 40%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
            <td rowspan="5">
              <h2><b>SUPERVISIÓN DE EXPEDIENTE</b></h2>
            </td>
            <td style="padding-top: 3mm;">CÓDIGO: <b>FC-07</b></td>
          </tr>
          <tr>
            <td>EDICIÓN: <b>1</b></td>
          </tr>
          <tr>
            <td>NIVEL REV: <b>4</b></td>
          </tr>
          <tr>
            <td rowspan="2">Vigente: <b>26-May-15</b></td>
          </tr>
        </table>

        <table class="table2_">
          <tr>
            <td colspan="4" style="width: 45%;">
              <p>Razón Social: <b *ngIf="client">{{ client.razon }}</b></p>
            </td>
            <td colspan="2" style="width: 25%;">
              <p>Giro (SCIAN): <b *ngIf="client">{{ client.giro }}</b></p>
            </td>
            <td colspan="2">No. Pedido: <input type="text"></td>
          </tr>
          <tr>
            <td rowspan="2" colspan="4" class="r_b">
              <p>Domicilio: <b *ngIf="client">{{ client.calle }} {{ client.colonia }}, {{ client.munic }}
                  {{ client. estado }} {{ client.cp }}</b></p>
            </td>
            <td rowspan="2" colspan="2" class="r_b">
              <p>Responsable: <b *ngIf="client">{{ client.nombre }}</b></p>
            </td>
            <td colspan="2">Fecha:</td>
          </tr>
          <tr>
            <td class="r_b">Inicio: <b *ngIf="client">{{ client.dia }}/{{ client.mes }}/{{ client.anio }}</b></td>
            <td class="r_b">Termino: <input type="text"></td>
          </tr>
        </table>
        <table class="table2_1" style="border-top: none;">
          <tr>
            <td style="width: 3.5cm;">
              <p>Tel.: <b *ngIf="client">{{ client.tel }}</b></p>
            </td>
            <td style="width: 3.5cm;" colspan="3">
              <p>Fax: <b *ngIf="client">{{ client.fax }}</b></p>
            </td>
            <td colspan="5">
              <p>Correo electrónico: <b *ngIf="client">{{ client.correo }}</b></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Planos: <b *ngIf="client">{{ client.planos }}</b></p>
            </td>
            <td>
              <p>A.T. <b *ngIf="client"><span *ngIf="client.tension=='Baja'">X</span></b></p>
            </td>
            <td>
              <p>M.T. <b *ngIf="client"><span *ngIf="client.tension=='Media'">X</span></b></p>
            </td>
            <td>
              <p>B.T. <b *ngIf="client"><span *ngIf="client.tension=='Alta'">X</span></b></p>
            </td>
            <td style="width: 15%;">
              <p>Memoria Técnica: </p>
              <p>Si <b *ngIf="client"><span *ngIf="client.memmo=='si'">X</span></b>
                No <b *ngIf="client"><span *ngIf="client.memmo=='no'">X</span></b></p>
            </td>
            <td style="width: 15%;">
              <p>Subestación: <b *ngIf="client">{{ client.sub }} KVA</b></p>
            </td>
            <td style="width: 15%;">
              <p>Carga Instalada: <b *ngIf="client">{{ client.cargai }} KV</b></p>
            </td>
            <td colspan="2">
              <p>Tipo de Instalación:</p>
              <p>Concentración Pública <b *ngIf="client"><span *ngIf="client.instal=='publica'">X</span></b>
                Área Peligrosa <b *ngIf="client"><span *ngIf="client.instal=='peligrosa'">X</span></b></p>
            </td>
          </tr>
        </table>

        <table class="table3_">
          <tr>
            <th rowspan="2" class="fecha_">Fecha</th>
            <th rowspan="2" class="docum_">Documento</th>
            <th colspan="2" class="cumple">CUMPLE</th>
            <th rowspan="2">CRITERIO DE ACEPTACIÓN/RECHAZO</th>
            <th rowspan="2" class="fecha_">Fecha</th>
            <th rowspan="2" class="docum_">Documento</th>
            <th colspan="2" class="cumple">CUMPLE</th>
          </tr>
          <tr>
            <th>SI</th>
            <th>NO</th>
            <th>SI</th>
            <th>NO</th>
          </tr>
          <tr>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Formato de cotización FT-01 o Contrato FT-03</p>
            </td>
            <td><input type="radio" name="fc-ft-01" id=""></td>
            <td><input type="radio" name="fc-ft-01" id=""></td>
            <td>
              <p>¿Contiene las firmas y nombres del Gerente Técnico y del cliente?</p>
              <p>¿Se le informa al cliente las normas aplicables?</p>
              <p>¿Establece el alcance especifico de la verificación?</p>
              <p>¿Indica el número de control del servicio?</p>
            </td>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Acta de evaluación de la conformidad instalaciones FT-07</p>
            </td>
            <td><input type="radio" name="fc-ft-07" id=""></td>
            <td><input type="radio" name="fc-ft-07" id=""></td>
          </tr>
          <tr>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Solicitud de verificación FT-02</p>
            </td>
            <td><input type="radio" name="fc-ft-02" id=""></td>
            <td><input type="radio" name="fc-ft-02" id=""></td>
            <td>
              <p>¿Contiene la firma del cliente?</p>
              <p>¿Especifica las normas a verificar?</p>
              <p>¿Indica la descripción de la instalación?</p>
            </td>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Lista de verificación de Revisión de Instalaciones eléctricas FT-10</p>
            </td>
            <td><input type="radio" name="fc-ft-10" id=""></td>
            <td><input type="radio" name="fc-ft-10" id=""></td>
          </tr>
          <tr>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Documentos usuario FT-05</p>
            </td>
            <td><input type="radio" name="fc-ft-05" id=""></td>
            <td><input type="radio" name="fc-ft-05" id=""></td>
            <td>
              <p>Proyecto completo incluida la memoria técnica</p>
            </td>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Informe de no conformidad de instalaciones FT-08</p>
            </td>
            <td><input type="radio" name="fc-ft-08" id=""></td>
            <td><input type="radio" name="fc-ft-08" id=""></td>
          </tr>
          <tr>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Reporte Técnico de proyecto FT-15</p>
            </td>
            <td><input type="radio" name="fc-ft-15" id=""></td>
            <td><input type="radio" name="fc-ft-15" id=""></td>
            <td>
              <p>¿Contiene código, las firma del Gerente Técnico, cliente y testigos?</p>
              <p>¿Describe las actividades realizadas en la revisión proyecto y/o visita a la instalación?</p>
              <p>¿Se llenan todos los campos incluyendo ámbito,circunstancias,hora de inicio y termino?</p>
            </td>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Acta de evaluación de la conformidad instalaciones FT-07</p>
            </td>
            <td><input type="radio" name="fc-ft-07_" id=""></td>
            <td><input type="radio" name="fc-ft-07_" id=""></td>
          </tr>
          <tr>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Lista de verificación del Proyecto eléctrico FT-06</p>
            </td>
            <td><input type="radio" name="fc-ft-06" id=""></td>
            <td><input type="radio" name="fc-ft-06" id=""></td>
            <td>
              <p>¿Los planos y memorias o diagramas cumplen con el PEC y y artículos aplicables de la NOM?</p>
              <p>¿Cuentan con código, firma y cedula profesional del proyectista para cargas mayores a 100 kw?</p>
              <p>¿La memoria tiene los cálculos de conductores y protecciones eindica la fecha de elaboración correcta?
              </p>
              <p>¿Las listas contienen las secciones aplicables de la NOM, la fecha de revisión se llenan los espacios?
              </p>
            </td>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Informe de cierre de no conformidades de instalaciones FT-08</p>
            </td>
            <td><input type="radio" name="fc-ft-08_2" id=""></td>
            <td><input type="radio" name="fc-ft-08_2" id=""></td>
          </tr>
          <tr>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Informe de no conformidad de proyecto FT-08</p>
            </td>
            <td><input type="radio" name="fc-ft-08_3" id=""></td>
            <td><input type="radio" name="fc-ft-08_3" id=""></td>
            <td>
              <p>¿Los incumplimientos hallados en proyecto y/o instalación ¿están anotados en este informe?</p>
              <p>¿Contiene la firma del Gerente Técnico y del cliente?</p>
              <p>¿Contiene el articulo, sección o inciso de la norma?</p>
              <p>Indica la etapa, código</p>
            </td>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Informe de pruebas requeridas en el punto 6.6 PEC FT-117</p>
            </td>
            <td><input type="radio" name="fc-ft-11" id=""></td>
            <td><input type="radio" name="fc-ft-11" id=""></td>
          </tr>
          <tr>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Reporte Técnico de proyecto FT-15</p>
            </td>
            <td><input type="radio" name="fc-ft-15" id=""></td>
            <td><input type="radio" name="fc-ft-15" id=""></td>
            <td>
              <p>¿Contiene código, las firma del Gerente Técnico, cliente y testigos?</p>
              <p>¿Describe las actividades realizadas en la revisión proyecto y/o visita a la instalación?</p>
              <p>¿Se llenan todos los campos incluyendo ámbito,circunstancias,hora de inicio y termino?</p>
            </td>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Registro de materiales aprobados FT-09</p>
            </td>
            <td><input type="radio" name="fc-ft-09" id=""></td>
            <td><input type="radio" name="fc-ft-09" id=""></td>
          </tr>
          <tr>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Informe de cierre de no conformidad de proyecto FT-08</p>
            </td>
            <td><input type="radio" name="fc-ft-08_4" id=""></td>
            <td><input type="radio" name="fc-ft-08_4" id=""></td>
            <td>
              <p>¿El cliente corrigio los incumplimientos hallados en proyecto y/o instalación?</p>
              <p>¿Contiene la evidencia del cierre y firma del Gerente Técnico y cliente?</p>
              <p>¿Contiene el articulo, sección o inciso de la norma?</p>
              <p>¿Hace referencia al informe de incumplimientos py/inst entregado con anterioridad?</p>
            </td>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Dictamen de Verificación de la NOM-001-SEDE-2012 FT-12</p>
            </td>
            <td><input type="radio" name="fc-ft-12" id=""></td>
            <td><input type="radio" name="fc-ft-12" id=""></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4">
              No. de Dictamen:
              <p>UVSEIE 448 A-<b *ngIf="client">{{ client.nocontrol }}/{{ client.anio }} </b><b> NOM-001-SEDE-2012</b></p>

            </td>
            <td><textarea name="" id="" rows="2"></textarea></td>
            <td>
              <p>Portada de dictamen FT-13</p>
            </td>
            <td><input type="radio" name="fc-ft-13" id=""></td>
            <td><input type="radio" name="fc-ft-13" id=""></td>
          </tr>
        </table>
      </div>

    </div>
    <div>
      <button class="volver_ no-print" (click)="goBack()">
        Volver
      </button>
      <button class="imprimir_ no-print" onclick="window.print()">
        Imprimir
      </button>
      <button class="guardar_ no-print">
        Guardar
      </button>
    </div>
  </section>
</div>