<app-navbar></app-navbar>
<div class="app">
  <section>
    <div class="page-landscape">
      <div class="inner">
        <table class="table1_">
          <tr>
            <td rowspan="5" style="width: 40%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
            <td rowspan="5">
              <h2><b>SUPERVISIÓN DE EXPEDIENTE</b></h2>
            </td>
            <td style="padding-top: 3mm;">CÓDIGO: <b>FC-07</b></td>
          </tr>
          <tr>
            <td>EDICIÓN: <b>1</b></td>
          </tr>
          <tr>
            <td>NIVEL REV: <b>4</b></td>
          </tr>
          <tr>
            <td rowspan="2">Vigente: <b>26-May-15</b></td>
          </tr>
        </table>

        <table class="table2_">
          <tr>
            <td colspan="4" style="width: 45%;">
              <p>Razón Social: <b *ngIf="client" style="text-transform: uppercase;">{{ client.razon }}</b></p>
            </td>
            <td colspan="2" style="width: 25%;">
              <p>Giro (SCIAN): <b *ngIf="client" style="text-transform: uppercase;">{{ client.giro }}</b></p>
            </td>
            <td colspan="2">No. Pedido: <b *ngIf="client">{{ client.pedido }}</b></td>
          </tr>
          <tr>
            <td rowspan="2" colspan="4" class="r_b">
              <p>Domicilio: <b *ngIf="client">{{ client.calle }} {{ client.colonia }}, {{ client.munic }}
                  {{ client. estado }} C.P. {{ client.cp }}</b></p>
            </td>
            <td rowspan="2" colspan="2" class="r_b">
              <p>Responsable: <b *ngIf="client" style="text-transform: uppercase;">{{ client.nombre }}</b></p>
            </td>
            <td colspan="2">Fecha: <b *ngIf="client">{{ ff.d }}/{{ month }}/{{ ff.a }}</b></td>
          </tr>
          <tr>
            <td class="r_b">Inicio: <b *ngIf="client">{{ client.dia }}/{{ month1 }}/{{ client.anio }}</b></td>
            <td class="r_b">Termino: <b *ngIf="client">{{ fff.d }}/{{ monthf }}/{{ fff.a }}</b></td>
          </tr>
        </table>
        <table class="table2_1" style="border-top: none;">
          <tr>
            <td style="width: 3.5cm;">
              <p>Tel.: <b *ngIf="client">{{ client.tel }}</b></p>
            </td>
            <td style="width: 3.5cm;" colspan="3">
              <p>Fax: <b *ngIf="client">{{ client.fax }}</b></p>
            </td>
            <td colspan="5">
              <p>Correo electrónico: <b *ngIf="client">{{ client.correo }}</b></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Planos: <b *ngIf="client">{{ client.planos }}</b></p>
            </td>
            <td>
              <p>B.T. <b *ngIf="client"><span *ngIf="client.tension=='Baja' || client.tension=='Media y Baja'" style="padding: 0.1em 0.4em; border: 1px solid #000;">X</span></b></p>
            </td>
            <td>
              <p>M.T. <b *ngIf="client"><span *ngIf="client.tension=='Media' || client.tension=='Media y Baja' || client.tension=='Alta y Media'" style="padding: 0.1em 0.4em; border: 1px solid #000;">X</span></b></p>
            </td>
            <td>
              <p>A.T. <b *ngIf="client"><span *ngIf="client.tension=='Alta' || client.tension=='Alta y Media'" style="padding: 0.1em 0.4em; border: 1px solid #000;">X</span></b></p>
            </td>
            <td style="width: 13%;">
              <p>Memoria Técnica: </p>
              <p>Si <b *ngIf="client"><span *ngIf="client.memo=='si'" style="padding: 0 0.4em; border: 1px solid #000;">x</span></b>
                <span style="margin-left: 2em;">No </span> <b *ngIf="client"><span *ngIf="client.memo=='no'" style="padding: 0 0.4em; border: 1px solid #000;">x</span></b></p>
            </td>
            <td style="width: 15%;">
              <p>Subestación: <b *ngIf="client">{{ client.sub }}</b></p>
            </td>
            <td style="width: 15%;">
              <p>Carga Instalada: <b *ngIf="client">{{ client.cargai }} kW</b></p>
            </td>
            <td colspan="2">
              <p>Tipo de Instalación:</p>
              <p>Concentración Pública  <b *ngIf="client"><span *ngIf="client.instal=='Concentración pública'" style="padding: 0 0.4em; border: 1px solid #000;">x</span></b>
                <span style="margin-left: 2em;">Área Peligrosa </span> <b *ngIf="client"><span *ngIf="client.instal=='Áreas peligrosas'" style="padding: 0 0.4em; border: 1px solid #000;">x</span></b></p>
            </td>
          </tr>
        </table>

        <!-- <form [formGroup]="clientF" autocomplete="off"> -->
        <table class="table3_">
          <tr>
            <th rowspan="2" class="fecha_">Fecha</th>
            <th rowspan="2" class="docum_">Documento</th>
            <th colspan="2" class="cumple">CUMPLE</th>
            <th rowspan="2">CRITERIO DE ACEPTACIÓN/RECHAZO</th>
            <th rowspan="2" class="fecha_">Fecha</th>
            <th rowspan="2" class="docum_">Documento</th>
            <th colspan="2" class="cumple">CUMPLE</th>
          </tr>
          <tr>
            <th>SI</th>
            <th>NO</th>
            <th>SI</th>
            <th>NO</th>
          </tr>
          <tr>
            <td><p *ngIf="client">{{ client.dia }}/{{ month1 }}/{{ client.anio }} {{ ff3.d }}/{{ month3 }}/{{ ff3.a }}</p></td>
            <td>
              <p>Formato de cotización FT-01 o Contrato FT-03</p>
            </td>
            <td><input type="radio" name="c1" value="si"  [(ngModel)]="fc07.c1"></td>
            <td><input type="radio" name="c1" value="no"  [(ngModel)]="fc07.c1"></td>
            <td>
              <p>¿Contiene las firmas y nombres del Gerente Técnico y del cliente?</p>
              <p>¿Se le informa al cliente las normas aplicables?</p>
              <p>¿Establece el alcance especifico de la verificación?</p>
              <p>¿Indica el número de control del servicio?</p>
            </td>
            <td><p>{{ ff71.d }}/{{ month71 }}/{{ ff71.a }}</p></td>
            <td>
              <p>Acta de evaluación de la conformidad instalaciones FT-07</p>
            </td>
            <td><input type="radio" name="c2" value="si"  [(ngModel)]="fc07.c2"></td>
            <td><input type="radio" name="c2" value="no"  [(ngModel)]="fc07.c2"></td>
          </tr>
          <tr>
            <td><p>{{ ff2.d }}/{{ month2 }}/{{ ff2.a }}</p></td>
            <td>
              <p>Solicitud de verificación FT-02</p>
            </td>
            <td><input type="radio" name="c3" value="si"  [(ngModel)]="fc07.c3"></td>
            <td><input type="radio" name="c3" value="no"  [(ngModel)]="fc07.c3"></td>
            <td>
              <p>¿Contiene la firma del cliente?</p>
              <p>¿Especifica las normas a verificar?</p>
              <p>¿Indica la descripción de la instalación?</p>
            </td>
            <td><p>{{ ff10.d }}/{{ month10 }}/{{ ff10.a }}</p></td>
            <td>
              <p>Lista de verificación de Revisión de Instalaciones eléctricas FT-10</p>
            </td>
            <td><input type="radio" name="c4" value="si"  [(ngModel)]="fc07.c4"></td>
            <td><input type="radio" name="c4" value="no"  [(ngModel)]="fc07.c4"></td>
          </tr>
          <tr>
            <td><p>{{ ff5.d }}/{{ month5 }}/{{ ff5.a }}</p></td>
            <td>
              <p>Documentos usuario FT-05</p>
            </td>
            <td><input type="radio" name="c5" value="si"  [(ngModel)]="fc07.c5"></td>
            <td><input type="radio" name="c5" value="no"  [(ngModel)]="fc07.c5"></td>
            <td>
              <p>Proyecto completo incluida la memoria técnica</p>
            </td>
            <td><p>{{ ff811.d }}/{{ month811 }}/{{ ff811.a }}</p></td>
            <td>
              <p>Informe de no conformidad de instalaciones FT-08</p>
            </td>
            <td><input type="radio" name="c6" value="si"  [(ngModel)]="fc07.c6"></td>
            <td><input type="radio" name="c6" value="no"  [(ngModel)]="fc07.c6"></td>
          </tr>
          <tr>
            <td><p>{{ ff151.d }}/{{ month151 }}/{{ ff151.a }}</p></td>
            <td>
              <p>Reporte Técnico de proyecto FT-15</p>
            </td>
            <td><input type="radio" name="c7" value="si"  [(ngModel)]="fc07.c7"></td>
            <td><input type="radio" name="c7" value="no"  [(ngModel)]="fc07.c7"></td>
            <td>
              <p>¿Contiene código, las firma del Gerente Técnico, cliente y testigos?</p>
              <p>¿Describe las actividades realizadas en la revisión proyecto y/o visita a la instalación?</p>
              <p>¿Se llenan todos los campos incluyendo ámbito,circunstancias,hora de inicio y termino?</p>
            </td>
            <td><p>{{ ff72.d }}/{{ month72 }}/{{ ff72.a }}</p></td>
            <td>
              <p>Acta de evaluación de la conformidad instalaciones FT-07</p>
            </td>
            <td><input type="radio" name="c8" value="si"  [(ngModel)]="fc07.c8"></td>
            <td><input type="radio" name="c8" value="no"  [(ngModel)]="fc07.c8"></td>
          </tr>
          <tr>
            <td><p>{{ ff6.d }}/{{ month6 }}/{{ ff6.a }}</p></td>
            <td>
              <p>Lista de verificación del Proyecto eléctrico FT-06</p>
            </td>
            <td><input type="radio" name="c9" value="si"  [(ngModel)]="fc07.c9"></td>
            <td><input type="radio" name="c9" value="no"  [(ngModel)]="fc07.c9"></td>
            <td>
              <p>¿Los planos y memorias o diagramas cumplen con el PEC y y artículos aplicables de la NOM?</p>
              <p>¿Cuentan con código, firma y cedula profesional del proyectista para cargas mayores a 100 kw?</p>
              <p>¿La memoria tiene los cálculos de conductores y protecciones eindica la fecha de elaboración correcta?
              </p>
              <p>¿Las listas contienen las secciones aplicables de la NOM, la fecha de revisión se llenan los espacios?
              </p>
            </td>
            <td><p>{{ ff812.d }}/{{ month812 }}/{{ ff812.a }}</p></td>
            <td>
              <p>Informe de cierre de no conformidades de instalaciones FT-08</p>
            </td>
            <td><input type="radio" name="c10" value="si"  [(ngModel)]="fc07.c10"></td>
            <td><input type="radio" name="c10" value="no"  [(ngModel)]="fc07.c10"></td>
          </tr>
          <tr>
            <td><p>{{ ff821.d }}/{{ month821 }}/{{ ff821.a }}</p></td>
            <td>
              <p>Informe de no conformidad de proyecto FT-08</p>
            </td>
            <td><input type="radio" name="c11" value="si"  [(ngModel)]="fc07.c11"></td>
            <td><input type="radio" name="c11" value="no"  [(ngModel)]="fc07.c11"></td>
            <td>
              <p>¿Los incumplimientos hallados en proyecto y/o instalación ¿están anotados en este informe?</p>
              <p>¿Contiene la firma del Gerente Técnico y del cliente?</p>
              <p>¿Contiene el articulo, sección o inciso de la norma?</p>
              <p>Indica la etapa, código</p>
            </td>
            <td><p>{{ ff11.d }}/{{ month11 }}/{{ ff11.a }}</p></td>
            <td>
              <p>Informe de pruebas requeridas en el punto 6.6 PEC FT-11</p>
            </td>
            <td><input type="radio" name="c12" value="si"  [(ngModel)]="fc07.c12"></td>
            <td><input type="radio" name="c12" value="no"  [(ngModel)]="fc07.c12"></td>
          </tr>
          <tr>
            <td><p>{{ ff152.d }}/{{ month152 }}/{{ ff152.a }}</p></td>
            <td>
              <p>Reporte Técnico de proyecto FT-15</p>
            </td>
            <td><input type="radio" name="c13" value="si"  [(ngModel)]="fc07.c13"></td>
            <td><input type="radio" name="c13" value="no"  [(ngModel)]="fc07.c13"></td>
            <td>
              <p>¿Contiene código, las firma del Gerente Técnico, cliente y testigos?</p>
              <p>¿Describe las actividades realizadas en la revisión proyecto y/o visita a la instalación?</p>
              <p>¿Se llenan todos los campos incluyendo ámbito,circunstancias,hora de inicio y termino?</p>
            </td>
            <td><p>{{ ff9.d }}/{{ month9 }}/{{ ff9.a }}</p></td>
            <td>
              <p>Registro de materiales aprobados FT-09</p>
            </td>
            <td><input type="radio" name="c14" value="si"  [(ngModel)]="fc07.c14"></td>
            <td><input type="radio" name="c14" value="no"  [(ngModel)]="fc07.c14"></td>
          </tr>
          <tr>
            <td><p>{{ ff822.d }}/{{ month822 }}/{{ ff822.a }}</p></td>
            <td>
              <p>Informe de cierre de no conformidad de proyecto FT-08</p>
            </td>
            <td><input type="radio" name="c15" value="si"  [(ngModel)]="fc07.c15"></td>
            <td><input type="radio" name="c15" value="no"  [(ngModel)]="fc07.c15"></td>
            <td>
              <p>¿El cliente corrigio los incumplimientos hallados en proyecto y/o instalación?</p>
              <p>¿Contiene la evidencia del cierre y firma del Gerente Técnico y cliente?</p>
              <p>¿Contiene el articulo, sección o inciso de la norma?</p>
              <p>¿Hace referencia al informe de incumplimientos py/inst entregado con anterioridad?</p>
            </td>
            <td><p>{{ ff12.d }}/{{ month12 }}/{{ ff12.a }}</p></td>
            <td>
              <p>Dictamen de Verificación de la NOM-001-SEDE-2012 FT-12</p>
            </td>
            <td><input type="radio" name="c16" value="si"  [(ngModel)]="fc07.c16"></td>
            <td><input type="radio" name="c16" value="no"  [(ngModel)]="fc07.c16"></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4">
              No. de Dictamen:
              <p style="padding-left: 15em; margin-bottom: 1em;">
                <b style="padding: 0.5em 4em; border: 1px solid #000;">UVSEIE 448-A-<span *ngIf="client">{{ client.nocontrol }}/{{ ff.a }}</span> </b>
                <b style="padding: 0.5em 4em; border: 1px solid #000; margin-left:0.5em;"> NOM-001-SEDE-2012</b>
              </p>
            </td>
            <td><p>{{ ff13.d }}/{{ month13 }}/{{ ff13.a }}</p></td>
            <td>
              <p>Portada de dictamen FT-13</p>
            </td>
            <td><input type="radio" name="c17" value="si" [(ngModel)]="fc07.c17"></td>
            <td><input type="radio" name="c17" value="no" [(ngModel)]="fc07.c17"></td>
          </tr>
        </table>
        <!-- </form> -->
      </div>

    </div>
    <div>
      <button class="volver_ no-print" (click)="goBack()">
        Volver
      </button>
      <button class="imprimir_ no-print" onclick="window.print()">
        Imprimir
      </button>
      <button class="guardar_ no-print" (click)="submitClientData()">
        Guardar
      </button>
      <button class="pdf_ no-print" (click)="savePDF()">
        PDF
      </button> 
    </div>
  </section>
</div>