<div class="app">
    <section>
      <div class="page-landscape">
        <div class="inner">
          <table class="table1_">
            <tr>
              <td rowspan="5" style="width: 40%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
              <td rowspan="5">
                <h2><b>SUPERVISIÓN DE EXPEDIENTE</b></h2>
              </td>
              <td style="padding-top: 3mm;">CÓDIGO: <b>FC-07</b></td>
            </tr>
            <tr>
              <td>EDICIÓN: <b>1</b></td>
            </tr>
            <tr>
              <td>NIVEL REV: <b>4</b></td>
            </tr>
            <tr>
              <td rowspan="2">Vigente: <b>26-May-15</b></td>
            </tr>
          </table>
  
          <table class="table2_">
            <tr>
              <td colspan="4" style="width: 45%;">
                Razón Social:
                <textarea name="" id="" rows="2"></textarea>
              </td>
              <td colspan="2" style="width: 25%;">
                Giro (SCIAN):
                <textarea name="" id="" rows="2"></textarea>
              </td>
              <td colspan="2">No. Pedido: <input type="text"></td>
            </tr>
            <tr>
              <td rowspan="2" colspan="4" class="r_b">
                Domicilio:
                <textarea name="" id="" rows="3"></textarea>
              </td>
              <td rowspan="2" colspan="2" class="r_b">
                Responsable:
                <textarea name="" id="" rows="3"></textarea>
              </td>
              <td colspan="2">Fecha:</td>
            </tr>
            <tr>
              <td class="r_b">Inicio <input type="text"></td>
              <td class="r_b">Termino <input type="text"></td>
            </tr>
          </table>
          <table class="table2_1" style="border-top: none;">
            <tr>
              <td style="width: 3.5cm;">Tel: <input type="text"></td>
              <td style="width: 3.5cm;" colspan="2">Fax: <input type="text"></td>
              <td colspan="5">Correo electrónico: <input type="text"></td>
            </tr>
            <tr>
              <td>Planos: <input type="text"></td>
              <td>A.T. <input type="checkbox" name="fc-at" id=""></td>
              <td>B.T. <input type="checkbox" name="fc-at" id=""></td>
              <td style="width: 25%;">Memoria Técnica: <br>
                <label for="mem-tec-si">Si</label>
                <input type="radio" name="mem-tec" id="mem-tec-si">
                <label for="mem-tec-no">No</label>
                <input type="radio" name="mem-tec" id="mem-tec-no">
              </td>
              <td style="width: 10%;">Subestación: <br> <input type="text">KVA </td>
              <td style="width: 10%;">Carga Instalada: <br> <input type="text">KV</td>
              <td colspan="2">Tipo de Instalación: <br>
                <label for="tipo-i-c">Concentración Pública</label>
                <input type="radio" name="mem-tec" id="tipo-i-c">
                <label for="tipo-i-a">Área Peligrosa</label>
                <input type="radio" name="mem-tec" id="tipo-i-a">
              </td>
            </tr>
          </table>
  
          <table class="table3_">
            <tr>
              <th rowspan="2" class="fecha_">Fecha</th>
              <th rowspan="2" class="docum_">Documento</th>
              <th colspan="2" class="cumple">CUMPLE</th>
              <th rowspan="2">CRITERIO DE ACEPTACIÓN/RECHAZO</th>
              <th rowspan="2" class="fecha_">Fecha</th>
              <th rowspan="2" class="docum_">Documento</th>
              <th colspan="2" class="cumple">CUMPLE</th>
            </tr>
            <tr>
              <th>SI</th>
              <th>NO</th>
              <th>SI</th>
              <th>NO</th>
            </tr>
            <tr>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Formato de cotización FT-01 o Contrato FT-03</p>
              </td>
              <td><input type="radio" name="fc-ft-01" id=""></td>
              <td><input type="radio" name="fc-ft-01" id=""></td>
              <td>
                <p>¿Contiene las firmas y nombres del Gerente Técnico y del cliente?</p>
                <p>¿Se le informa al cliente las normas aplicables?</p>
                <p>¿Establece el alcance especifico de la verificación?</p>
                <p>¿Indica el número de control del servicio?</p>
              </td>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Acta de evaluación de la conformidad instalaciones FT-07</p>
              </td>
              <td><input type="radio" name="fc-ft-07" id=""></td>
              <td><input type="radio" name="fc-ft-07" id=""></td>
            </tr>
            <tr>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Solicitud de verificación FT-02</p>
              </td>
              <td><input type="radio" name="fc-ft-02" id=""></td>
              <td><input type="radio" name="fc-ft-02" id=""></td>
              <td>
                <p>¿Contiene la firma del cliente?</p>
                <p>¿Especifica las normas a verificar?</p>
                <p>¿Indica la descripción de la instalación?</p>
              </td>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Lista de verificación de Revisión de Instalaciones eléctricas FT-10</p>
              </td>
              <td><input type="radio" name="fc-ft-10" id=""></td>
              <td><input type="radio" name="fc-ft-10" id=""></td>
            </tr>
            <tr>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Documentos usuario FT-05</p>
              </td>
              <td><input type="radio" name="fc-ft-05" id=""></td>
              <td><input type="radio" name="fc-ft-05" id=""></td>
              <td>
                <p>Proyecto completo incluida la memoria técnica</p>
              </td>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Informe de no conformidad de instalaciones FT-08</p>
              </td>
              <td><input type="radio" name="fc-ft-08" id=""></td>
              <td><input type="radio" name="fc-ft-08" id=""></td>
            </tr>
            <tr>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Reporte Técnico de proyecto FT-15</p>
              </td>
              <td><input type="radio" name="fc-ft-15" id=""></td>
              <td><input type="radio" name="fc-ft-15" id=""></td>
              <td>
                <p>¿Contiene código, las firma del Gerente Técnico, cliente y testigos?</p>
                <p>¿Describe las actividades realizadas en la revisión proyecto y/o visita a la instalación?</p>
                <p>¿Se llenan todos los campos incluyendo ámbito,circunstancias,hora de inicio y termino?</p>
              </td>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Acta de evaluación de la conformidad instalaciones FT-07</p>
              </td>
              <td><input type="radio" name="fc-ft-07_" id=""></td>
              <td><input type="radio" name="fc-ft-07_" id=""></td>
            </tr>
            <tr>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Lista de verificación del Proyecto eléctrico FT-06</p>
              </td>
              <td><input type="radio" name="fc-ft-06" id=""></td>
              <td><input type="radio" name="fc-ft-06" id=""></td>
              <td>
                <p>¿Los planos y memorias o diagramas cumplen con el PEC y y artículos aplicables de la NOM?</p>
                <p>¿Cuentan con código, firma y cedula profesional del proyectista para cargas mayores a 100 kw?</p>
                <p>¿La memoria tiene los cálculos de conductores y protecciones eindica la fecha de elaboración correcta?
                </p>
                <p>¿Las listas contienen las secciones aplicables de la NOM, la fecha de revisión se llenan los espacios?
                </p>
              </td>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Informe de cierre de no conformidades de instalaciones FT-08</p>
              </td>
              <td><input type="radio" name="fc-ft-08_2" id=""></td>
              <td><input type="radio" name="fc-ft-08_2" id=""></td>
            </tr>
            <tr>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Informe de no conformidad de proyecto FT-08</p>
              </td>
              <td><input type="radio" name="fc-ft-08_3" id=""></td>
              <td><input type="radio" name="fc-ft-08_3" id=""></td>
              <td>
                <p>¿Los incumplimientos hallados en proyecto y/o instalación ¿están anotados en este informe?</p>
                <p>¿Contiene la firma del Gerente Técnico y del cliente?</p>
                <p>¿Contiene el articulo, sección o inciso de la norma?</p>
                <p>Indica la etapa, código</p>
              </td>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Informe de pruebas requeridas en el punto 6.6 PEC FT-117</p>
              </td>
              <td><input type="radio" name="fc-ft-11" id=""></td>
              <td><input type="radio" name="fc-ft-11" id=""></td>
            </tr>
            <tr>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Reporte Técnico de proyecto FT-15</p>
              </td>
              <td><input type="radio" name="fc-ft-15" id=""></td>
              <td><input type="radio" name="fc-ft-15" id=""></td>
              <td>
                <p>¿Contiene código, las firma del Gerente Técnico, cliente y testigos?</p>
                <p>¿Describe las actividades realizadas en la revisión proyecto y/o visita a la instalación?</p>
                <p>¿Se llenan todos los campos incluyendo ámbito,circunstancias,hora de inicio y termino?</p>
              </td>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Registro de materiales aprobados FT-09</p>
              </td>
              <td><input type="radio" name="fc-ft-09" id=""></td>
              <td><input type="radio" name="fc-ft-09" id=""></td>
            </tr>
            <tr>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Informe de cierre de no conformidad de proyecto FT-08</p>
              </td>
              <td><input type="radio" name="fc-ft-08_4" id=""></td>
              <td><input type="radio" name="fc-ft-08_4" id=""></td>
              <td>
                <p>¿El cliente corrigio los incumplimientos hallados en proyecto y/o instalación?</p>
                <p>¿Contiene la evidencia del cierre y firma del Gerente Técnico y cliente?</p>
                <p>¿Contiene el articulo, sección o inciso de la norma?</p>
                <p>¿Hace referencia al informe de incumplimientos py/inst entregado con anterioridad?</p>
              </td>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Dictamen de Verificación de la NOM-001-SEDE-2012 FT-12</p>
              </td>
              <td><input type="radio" name="fc-ft-12" id=""></td>
              <td><input type="radio" name="fc-ft-12" id=""></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="4">
                No. de Dictamen:
                <input type="text" name="" id="">
                <input type="text">
              </td>
              <td><textarea name="" id="" rows="2"></textarea></td>
              <td>
                <p>Portada de dictamen FT-13</p>
              </td>
              <td><input type="radio" name="fc-ft-13" id=""></td>
              <td><input type="radio" name="fc-ft-13" id=""></td>
            </tr>
          </table>
        </div>
        <div class="no-print" id="printBtn" onclick="window.print()">
          <img src="assets/save.png" alt="" width="75" height="75">
        </div>
      </div>
    </section>
  </div>