<app-navbar></app-navbar>
<div class="app">
  <section>
    <div class="page">
      <div class="inner">
        <table>
          <tr>
            <td>
              <img *ngIf="client" style="height: 120px;" src="{{client.logo}}" alt="">
            </td>
            <td *ngIf="client && !client.logo">
              <h4 style="text-transform: uppercase">{{client.razon}}</h4>
            </td>
            <td>
              <p style="text-align: right;"><b *ngIf="client">{{ ff.d }}-{{ mes }}-20{{ ff.a }}</b></p>
            </td>
          </tr>
        </table>

        <p><b>Unidad de Verificación de Instalaciones Eléctricas.</b></p>
        <p>Misiones M119, L 31, Fracc. Hacienda Ojo de Agua</p>
        <p> Municipio de Tecamac, Estado de México, CP. 55770.</p><br>

        <p><b *ngIf="client">{{ client.nombreuv }}</b></p>
        <p class="tab_"><b *ngIf="client">{{ client.cargouv }} </b><b>448 A-</b><b
            *ngIf="client">{{ client.nocontrol }}/{{ ff.a }}</b>
        </p><br><br>
        <p>Para cumplir con la Ley aplicable, por este conducto, SOLICITO a usted la Evaluación de la Conformidad,
          Verificando y determinando el grado de cumplimiento, de la norma oficial mexicana <b>NOM-001-SEDE-2012,</b>
          del
          Proyecto y Construcción de la instalación eléctrica en <b *ngIf="client">{{ client.tension }}</b> tensión, de:
        </p>
        <br>

        <p class="tab_"><b>Nombre o razón social: </b><b *ngIf="client"
            style="text-transform: uppercase">{{ client.razon }}</b></p>
        <p class="tab_">RFC: <b *ngIf="client" style="text-transform: uppercase">{{ client.rfc }}</b></p>
        <p class="tab_">Giro (SCIAN): <b *ngIf="client" style="text-transform: uppercase">{{ client.giro }}</b></p>
        <p class="tab_">Ubicada en: <b *ngIf="client">{{ client.calle }} {{ client.colonia }}, {{ client.munic }}
            {{ client.estado }} C.P. {{ client.cp }}</b></p><br>

        <p>Con una carga instalada de: <b *ngIf="client">{{ client.cargai }}</b> kW </p>
        <p>Alcance de la Verificación: <b *ngIf="client">{{ client.alcance }}</b> kW </p>
        <p>Factor de Demanda: <b *ngIf="client">{{ client.factor }}</b> % Carga demandada: <b
            *ngIf="client">{{ client.cargadem }}</b> kW </p>
        <p>Corriente Demandada: <b *ngIf="client">{{ client.corriente }}</b> Amps. <b
            *ngIf="client">{{ client.volts }}</b> V </p>
        <p>Capacidad de subestación: <b *ngIf="client">{{ client.sub }}</b></p>
        <p>Área electrificada: <b *ngIf="client">{{ client.area }}</b></p>
        <p>Existen Áreas Clasificadas como peligrosas:
          <b *ngIf="client"><span *ngIf="client.instal=='peligrosa'">SI</span>
            <span *ngIf="client.instal!=='peligrosa'">NO</span></b> (cuando sea el caso anexar el plano de
          clasificación de áreas 7.3).</p>
        <p>Existen Locales con Ambientes Especiales:
          <b *ngIf="client"><span *ngIf="client.ambien=='si'">SI</span>
            <span *ngIf="client.ambien=='no'">NO</span></b></p>

        <p>El objetivo de nuestra petición, es: <input type="text" [(ngModel)]="ft02.obj"></p>
        <p>El alcance de la Verificación, es: <input type="text" [(ngModel)]="ft02.alcan"></p><br>

        <p><b>Anexamos la información de los aspectos técnicos específicos del proyecto eléctrico a verificar:</b></p>
        <br>
        <p class="tab_"><input type="text" [(ngModel)]="ft02.anx1"></p>
        <p class="tab_"><input type="text" [(ngModel)]="ft02.anx2"></p>
        <p class="tab_"><input type="text" [(ngModel)]="ft02.anx3"></p>
        <p class="tab_"><input type="text" [(ngModel)]="ft02.anx4"></p>
        <p class="tab_"><input type="text" [(ngModel)]="ft02.anx5"></p>
        <p class="tab_"><input type="text" [(ngModel)]="ft02.anx6"></p><br>

      </div>

    </div>
  </section>


  <section>
    <div class="page">
      <div class="inner">
        <table>
          <tr>            
            <td>
              <img *ngIf="client" style="height: 120px;" src="{{client.logo}}" alt="">
            </td>
            <td *ngIf="client && !client.logo">
              <h4 style="text-transform: uppercase">{{client.razon}}</h4>
            </td>
            
          </tr>
        </table>

        <p><b>Datos del solicitante de la verificaciòn</b> (responsable de la instalación) <b>7.2 III.4:</b></p><br>

        <p>Nombre: <input type="text" [(ngModel)]="ft02.snom"></p>
        <p>Identificación: <input type="text" [(ngModel)]="ft02.sid"></p>
        <p>No. de Identificación o Folio: <input type="text" [(ngModel)]="ft02.sfol"></p><br>
        <!-- <p>Domicilio: <input type="text" [(ngModel)]="ft02.sdom"></p>
        <p>CURP: <input type="text" [(ngModel)]="ft02.scur"></p>
        <p>Tel. Cel: <input type="text" [(ngModel)]="ft02.scel"></p>
        <p>Correo Electrónico: <input type="text" [(ngModel)]="ft02.scor"></p><br> -->

        <p><b>Datos del responsable de atender a la UVIE tanto en proyecto como en sitio 7.2 III.4:</b></p><br>

        <p>Nombre: <input type="text" [(ngModel)]="ft02.rnom"></p>
        <p>Identificación: <input type="text" [(ngModel)]="ft02.rid"></p>
        <p>No. de Identificación o Folio: <input type="text" [(ngModel)]="ft02.rfol"></p><br>


        <p><b>Datos del responsable del proyecto 7.2 III.4:</b></p><br>

        <p>Nombre: <input type="text" [(ngModel)]="ft02.rpnom"></p>
        <p>No. de cédula profesional: <input type="text" [(ngModel)]="ft02.rpfol"></p>
        <!-- <p>Domicilio: <input type="text" [(ngModel)]="ft02.rdom"></p>
        <p>CURP: <input type="text" [(ngModel)]="ft02.rcur"></p>
        <p>Tel. Cel: <input type="text" [(ngModel)]="ft02.rcel"></p>
        <p>Correo Electrónico: <input type="text" [(ngModel)]="ft02.rcor"></p> -->

        <table style="margin-top: 2em;">
          <tr>
            <td>
              <p style="text-align: center;">ATENTAMENTE</p>
              <div class="sign" style="margin: 0 auto;">
                <div class="signature">
                  <div id="contSign" onclick = "btn_click2()">
                    <img *ngIf="client" src="{{ ft02.s2 }}" id="imgSign2" (load)="imgChanged2($event)">
                  </div>
                </div>
                <hr>
                <div>
                  <p *ngIf="client" style="text-align: center;"><b
                      style="text-transform: uppercase">{{ client.razon }}</b></p>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
  <div>
    <button class="volver_ no-print" (click)="goBack()">
      Volver
    </button>
    <button class="imprimir_ no-print" onclick="window.print()">
      Imprimir
    </button>
    <button class="guardar_ no-print" (click)="submitClientData()">
      Guardar
  </button>
  <button class="pdf_ no-print" (click)="savePDF()">
        PDF
      </button>
  </div>
</div>