table {
    width: 100%;    
    border-collapse: collapse;
    margin-bottom: 1.5em;
}
/* table, th, td {
    border: solid 1px black;
} */
input {
    width: 15cm;
    border: none;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-size: 0.8em;
    text-align: justify;
}
.tab_ {
    padding-left: 7mm;
}
.footer_ {
    font-size: 0.7em;
}