<app-navbar></app-navbar>
<div class="app">
  <section>
    <div class="page">
      <div class="inner">
        <table>
          <tr>
            <td class="num_">
              <p *ngIf="client" style="font-size: 2.7em; text-transform: uppercase;"><b>{{ client.razon }}</b></p>
             <!--  <textarea name="" id="" rows="3" style="font-size: 2.7em;">MINISO MÉXICO S.A.P.I. DE C.V.</textarea> -->
            </td>
          </tr>
          <tr>
            <td>
              <h1>Giro de Instalación:</h1>
            </td>
          </tr>
          <tr>
            <td class="giro_">
                <p *ngIf="client" style="font-size: 2.7em; text-transform: uppercase;"><b>{{ client.giro }}</b></p>
              <!-- <textarea name="" id=""
                rows="4">COMERCIO AL POR MENOR DE MUEBLES PARA EL HOGAR Y OTROS ENSERES DOMÉSTICOS</textarea> -->
            </td>
          </tr>
          <tr>
            <td>
              <h1>No. de Control Interno:</h1>
            </td>
          </tr>
          <tr>
            <td class="num_">
                <p *ngIf="client" style="font-size: 2.7em;"><b>UVSEIE 448 A-{{ client.nocontrol }}/{{ client.anio }}</b></p>
              <!-- <textarea name="" id="" rows="2" style="font-size: 2.7em;">UVSEIE 448 - A - XXXX/19</textarea> -->
            </td>
          </tr>
          <tr class="foot_">
            <td>
              MT Ingeniería SA de CV
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <button class="volver_ no-print" (click)="goBack()">
        Volver
      </button>
      <button class="imprimir_ no-print" onclick="window.print()">
        Imprimir
      </button>      
    </div>
  </section>
</div>