<app-navbar></app-navbar>
<div class="app">
  <section>
    <div class="page">
      <div class="inner">
        <table>
          <tr>
            <td class="num_">
                <p *ngIf="client" style="font-size: 2.7em; text-transform: uppercase; text-align: center;"><b>{{ client.nomcom }}</b></p>
            </td>
          </tr>
          <tr>
            <td class="num_">
              <p *ngIf="client" style="font-size: 2.7em; text-transform: uppercase; text-align: center;"><b>{{ client.razon }}</b></p>
            </td>
          </tr>
          <tr>
            <td>
              <h1>Giro de Instalación:</h1>
            </td>
          </tr>
          <tr>
            <td class="giro_">
                <p *ngIf="client" style="font-size: 2.7em; text-transform: uppercase; text-align: center;"><b>{{ client.giro }}</b></p>
            </td>
          </tr>
          <tr>
            <td>
              <h1>No. de Control Interno:</h1>
            </td>
          </tr>
          <tr>
            <td class="num_">
                <p *ngIf="client" style="font-size: 2.7em; text-align: center;"><b>UVSEIE 448-A-{{ client.nocontrol }}/{{ client.anio }}</b></p>
            </td>
          </tr>
          <tr class="foot_">
            <td>
              MT Ingeniería SA de CV
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <button class="volver_ no-print" (click)="goBack()">
        Volver
      </button>
      <button class="imprimir_ no-print" onclick="window.print()">
        Imprimir
      </button>   
      <button class="pdf_ no-print" (click)="savePDF()">
        PDF
      </button>   
    </div>
  </section>
</div>