<div class="app">
  <section>
    <div class="page">
      <div class="inner">
        <table>
          <tr>
            <td>LOGO</td>
            <td><input type="text"></td>
          </tr>
        </table>
        
        <p>Unidad de Verificación de Instalaciones Eléctricas.</p>
        <p>Misiones M119, L 31, Fracc. Hacienda Ojo de Agua</p>
        <p> Municipio de Tecamac, Estado de México, CP. 55770.</p><br>

        <p>Ing. Héctor Martínez Peña.</p>
        <p class="tab_">Verificador UVSEIE 448-A <input type="text"></p><br><br>
        <p>Para cumplir con la Ley aplicable, por este conducto, SOLICITO a usted la Evaluación de la Conformidad,
          Verificando y determinando el grado de cumplimiento, de la norma oficial mexicana NOM-001-SEDE-2012, del
          Proyecto y Construcción de la instalación eléctrica en <input type="text">, de <input type="text"> propiedad de:</p>
        <br>

        <p class="tab_">Nombre o razón social: <input type="text"></p>
        <p class="tab_">RFC: <input type="text"></p>
        <p class="tab_">Giro (SCIAN): <input type="text"></p>
        <p class="tab_">Ubicada en: <textarea rows="3"></textarea></p><br>

        <p>El objetivo de nuestra petición, es: <input type="text"></p>
        <p>Con una carga instalada de: <input type="text"> kW </p>
        <p>Alcance de la Verificación: <input type="text"> kW </p>
        <p>Factor de Demanda: <input type="text"> % Carga demandada: <input type="text"> kW </p>
        <p>Corriente Demandada: <input type="text"> Amps. <input type="text"> V </p>
        <p>Capacidad de subestación: <input type="text"> kVA </p>
        <p>Área electrificada: <input type="text"> m<sup>2</sup></p><br>

        <p>El alcance de la Verificación, es: <input type="text"> por <input type="text"> kW</p>
        <p>Existen Áreas Clasificadas como peligrosas: <input type="text"> (cuando sea el caso anexar el plano de
          clasificación de áreas 7.3).</p>
        <p>Existen Locales con Ambientes Especiales: <input type="text"></p><br>

        <p>Anexamos la información de los aspectos técnicos específicos del proyecto eléctrico a verificar:</p><br>
        <p class="tab_">1. Diagrama unifilar (7.1 y/o 7.2).</p>
        <p class="tab_">2. Cuadro de Distribuciòn de cargas por circuito (7.2 II).</p>
        <p class="tab_">3. Lista de principales materiales utilizados (7.2 IV).</p>
        <p class="tab_">4. Lista de principales equipos utilizados (7.2 V).</p>
        <p class="tab_">5. Croquis de localización del domicilio (7.2 VI).</p>
        <p class="tab_">6. Lista de cargas (7.2 VII).</p><br>
        <p>Datos del solicitante de la verificaciòn (responsable de la instalación) 7.2 III.4:</p><br>

        <p>Nombre: <input type="text"></p>
        <p>Identificación: <input type="text"></p>
        <p> No. de Identificación o Folio: <input type="text"></p>


      </div>
      <div class="no-print" id="printBtn" onclick="window.print()">
        <img src="assets/save.png" alt="" width="75" height="75">
      </div>
    </div>
  </section>
</div>

<div class="app">
  <section>
    <div class="page">
      <div class="inner">
          <table>
              <tr>
                <td>LOGO</td>
              </tr>
            </table>
        <p>Datos del responsable de atender a la UVIE tanto en proyecto como en sitio 7.2 III.4:</p><br>

        <p>Nombre: <input type="text"></p>
        <p>Identificación: <input type="text"></p>
        <p> No. de Identificación o Folio: <input type="text"></p>

        <table>
          <tr>
            <td>
              <p>ATENTAMENTE</p>
              <div class="sign">
                <div class="signature">
                  <div id="contSign" onclick="btn_click()">
                    <img src="" id="imgSign">
                  </div>
                </div>
                <hr>
                <div>
                  <p><input type="text"></p>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>