<div class="app">
  <section>
    <div class="page-landscape">
      <div class="inner">
        <p>Razón Social: </p>
        <div class="mini-content">
          <div class="mini-page">
            <div class="inner">
              <p>FT-01</p>
            </div>
          </div>
          <div class="mini-page">
            <div class="inner">
              <p>FT-02</p>
            </div>
          </div>
          <div class="mini-page">
            <div class="inner">
              <p>FT-03</p>
            </div>
          </div>
          <div class="mini-page">
            <div class="inner">
              <p>FT-05</p>
            </div>
          </div>
          <div class="mini-page">
            <div class="inner">
              <p>FT-06</p>
            </div>
          </div>
        </div>
        <div class="mini-content">
          <div class="mini-page">
            <div class="inner">
              <p>FC-07</p>
            </div>
          </div>
          <div class="mini-page">
            <div class="inner">
              <p>FT-08<br>INCIE1</p>
            </div>
          </div>
          <div class="mini-page">
            <div class="inner">
              <p>FT-08<br>INCIE2</p>
            </div>
          </div>
          <div class="mini-page">
            <div class="inner">
              <p>FT-08<br>INCPE</p>
            </div>
          </div>
          <div class="mini-page">
            <div class="inner">
              <p>FT-09</p>
            </div>
          </div>
        </div>
        <div class="mini-content">
          <div class="mini-page">
            <div class="inner">
              <p>FT-10</p>
            </div>
          </div>
          <div class="mini-page">
            <div class="inner">
              <p>FT-11</p>
            </div>
          </div>
        </div>
      </div>
      <div class="no-print" id="printBtn" onclick="window.print()">
        <img src="assets/save.png" alt="" width="75" height="75">
      </div>
    </div>
  </section>
</div>