<div class="app">
  <section>
    <div class="page">
      <div class="inner">
        <table class="table1_">
          <tr>
            <td rowspan="5" style="width: 43%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
            <td rowspan="5" style="width: 32%;">
              <h2>
                <b>COTIZACIÓN</b>
              </h2>
              <h4><b>Fecha: <input type="text">Ref. MTI <input type="text"></b></h4>

            </td>
            <td style="padding-top: 3mm;">CÓDIGO: <b>FT-01</b></td>
          </tr>
          <tr>
            <td>EDICIÓN: <b>1</b></td>
          </tr>
          <tr>
            <td>N. REVISIÓN: <b>4</b></td>
          </tr>
          <tr>
            <td rowspan="2">Vigente a partir de: <br><b>17-Nov-17</b></td>
          </tr>
        </table>

        <input type="text">
        <p>Representante:</p>
        <input type="text"><br>
        <p>En respuesta a su amable solicitud de cotización, estoy poniendo a su consideración el presupuesto relativo a
          la
          verificación de sus instalaciones eléctricas en baja tensión; conforme a la NOM-001-SEDE-2012, Instalaciones
          eléctricas (utilización).</p><br>

        <p>GENERALES:</p><br>

        <p>Razón social o nombre del cliente: <input type="text"></p>
        <p>Giro (SCIAN) o actividad empresarial: <input type="text"></p>
        <p>Domicilio del servicio: <input type="text"></p>
        <p>Capacidad total en subestación: <input type="text"> kVA </p>
        <p>Carga total instalada:<input type="text"> kW </p>
        <p>Tipo de servicio: Instalación nueva <input type="checkbox" name="" id=""></p><br>

        <p>A fin de cumplir con las leyes aplicables a la materia, las instalaciones eléctricas en servicios en baja
          tensión y
          en lugares de concentración pública deben ser verificadas por una Unidad de Verificación de Instalaciones
          Eléctricas
          aprobada por la Secretaría de Energía y acreditada por la Entidad Mexicana de Acreditación.</p><br>

        <p>Alcance de los servicios profesionales de esta Unidad de Verificación de Instalaciones Eléctricas.</p><br>

        <p class="tab_"> 1. Ingresar en la pagina electrónica de la SENER el proceso de la verifcaciòn para lo que es
          indispensable
          que el
          solicitante de la verificación entregue los documentos requeridos.</p>
        <p class="tab_"> 2. Revisión del proyecto y memoria técnica descriptiva de la instalación eléctrica, para
          verificar que
          cumpla con los
          requisitos mínimos establecidos en las NOM-001-SEDE-2012.</p>
        <p class="tab_"> 3. Verificar que las instalaciones eléctricas queden de acuerdo al proyecto, para constatar que
          cumplen con
          los
          requisitos de seguridad y estado que guardan con respecto a las NOM-001-SEDE-2012.</p>
        <p class="tab_"> 4. En cada visita de verificación se levantara un acta de evalaución de la conformidad del
          ámbito propio; en
          caso de
          encontrar incumplimientos a la NOM, se entregara un informe técnico de los mismos (Informe de no conformidad).
          El
          cliente firmara de aceptación este reporte y fijara fecha de corrección de las no conformidades. La ley le
          concede 90
          días para corregirlas. SE CONSIDERAN 3 VISITAS A LA INSTALACIÓN.</p>
        <p class="tab_"> 5. Se constatará la corrección de las no conformidades. (Cierre de las no conformidades)</p>
        <p class="tab_"> 6. Verificación de las pruebas indicadas en el PEC de la NOM-001-SEDE-2012. (Contratista
          entrega informe de
          pruebas)
        </p>
        <p class="tab_"> 7. Una vez que las instalaciones cumplan con la NOM-001-SEDE-2012, se entrega el dictamen de
          verificación.
        </p>
        <p class="tab_"> 8. Cada Dictamen de verificación que la UVIE emita para instalaciones eléctricas que tengan
          áreas peligrosas
          (clasificadas) debe indicar la fecha limite para la próxima verificación de la instalación eléctrica en dichas
          áreas
        </p><br>

        <p>El cliente debe proporcionar;</p><br>

        <p class="tab_">1. Proyecto final y memoria completo en papel y/o en archivo electronico, firmado y con cedula
          profesional
          del proyectista, indispensable el diagrama unifilar que cumple con el PEC.</p>
        <p class="tab_">2. Evidencia de aprobación de materiales y equipos,incluida la información de los
          transformadores, cuando
          aplique, adjuntando los documentos que comprueben que están debidamente aprobados y cumplen con las normas
          oficiales mexicanas y disposiciones legales aplicables</p>
        <p class="tab_">3. Lista de Cargas.</p>
        <p class="tab_">4. Solicitud de verificación de la instalación.</p>
        <p class="tab_">5. El solicitante de la verificación debe presentar a la uvie el plano de las áraes peligrosas
          (clasificadas)
          indicando los limites en vista de planta, cortes transversales y longitudinales, de forma que las
          disposiciones contenidas en la nom, aplicables a cada a cada clasificación, puedan verificarse objetivamente
        </p>
        <p class="tab_">6. El usuario o propietario solicitara a la UVIE la verificación periódica de las instalaciones
          eléctricas
          contenidas en áreas peligrosas (clasificadas), la que se crircunscribirá a los conceptos y alcance a que se
          refiere el anexo B.</p><br>
        <p class="footer_">Este documento hace las veces de contrato cuando ambas partes así lo consideren.En caso que
          “EL SOLICITANTE” en forma unilateral y sin causas imputables a “EL VERIFICADOR”, cancelará la verificación, no
          tendrá derecho a reclamar la devolución del anticipo o cubrirá el precio de lo ejecutado hasta el momento de
          la cancelación, lo que sea mayor, si “EL VERIFICADOR” no diera cabal cumplimiento a sus obligaciones del
          presente instrumento, “EL SOLICITANTE” Tendrá derecho a rescindirlo</p>

      </div>
      <div class="no-print" id="printBtn" onclick="window.print()">
        <img src="assets/save.png" alt="" width="75" height="75">
      </div>
    </div>
  </section>
</div>

<div class="app">
  <section>
    <div class="page">
      <div class="inner">
        <table class="table1_">
          <tr>
            <td rowspan="5" style="width: 43%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
            <td rowspan="5" style="width: 32%;">
              <h2>
                <b>COTIZACIÓN</b>
              </h2>
              <p><b>Fecha: <input type="text">Ref. MTI <input type="text"></b></p>

            </td>
            <td style="padding-top: 3mm;">CÓDIGO: <b>FT-01</b></td>
          </tr>
          <tr>
            <td>EDICIÓN: <b>1</b></td>
          </tr>
          <tr>
            <td>N. REVISIÓN: <b>4</b></td>
          </tr>
          <tr>
            <td rowspan="2">Vigente a partir de: <br><b>17-Nov-17</b></td>
          </tr>
        </table>
        <p class="tab_">7. Informe de las pruebas solicitadas en el PEC vigente y realizadas por el contratista.</p>
        <p class="tab_">8. dentificaciòn oficial (IFE, Cartilla, Cedula Porfesional,Pasaporte o CURP) del representante
          del solicitante de la verifcaciòn y de la persona que atenderá la verificación.</p>
        <p class="tab_">9. RFC de la persona física o moral, que solicita la verificación.</p>
        <p class="tab_">10. Comprobante del domicilio de la instalación eléctrica.</p><br>

        <p>Declaraciones y compromisos por parte del Gerente Técnico de la unidad de verificación:</p><br>

        <p>1.- Toda la información que proporcione el cliente se considera de carácter confidencial.</p>
        <p>2.- Durante el proceso de verificación, queda imposibilitado de proporcionar cualquier otro servicio al
          cliente que entre en conflicto con la verificación y no se verificaran instalaciones, cuando haya intervenido
          en cualquier otro servicio relacionado con la verificación.</p>
        <p>3.- La unidad de verificación y su personal están libres de cualquier presión comercial, financiera o de
          cualquier otro tipo que pueda afectar su juicio.</p>
        <p>4.- El cliente podrá emitir las quejas, reclamaciones técnicas y apelaciones que a su derecho convenga.</p>
        <p>5.- La unidad de verificación cuenta con un seguro de responsabilidad civil para las actividades de
          verificación.</p>
        <p>6.- La unidad de verificación y el personal realizan su trabajo con imparcialidad no tienen conflictos de
          interés ni presiones comercilaes, financieras, emocionales, de gobernabilidad, de la dirección, recursos
          compartidos, contratos, pago de comisión por ventas u otros incentivos para la remisión de nuevos clientes u
          otros; actua con ausencia de perjuicio, neutralidad, equidad, actitud abierta.</p>
        <p>7.- La información que entregue el cliente se ingresará a la página electrónica del la Secretaria de Energía
          (SEDIVER) atendiendo un requerimiento de la propia dependencia.</p>
        <p>8. La UVIE a través del SEDIVER generará y enviará el escrito para el informe trimestral de dictamenes de
          verificación e informe trimestral de dictamenes de verificación (anexo D).</p><br>

        <p>El Costo: “EL SOLICITANTE” se obliga a pagar a “EL VERIFICADOR” por el servicio antes descrito la cantidad de
          <input type="text"> + IVA, (<input type="text"> 00/100 M.N.), + IVA, a la entrega del Informe Técnico.
          Tiempo de entrega: Si el proyecto e instalación cumplen con la NOM ,al termino de la instalación se entregara
          el dictamen.</p><br>
        
        <table>
          <tr>
            <td><p>Vigencia: 30 días naturales.</p></td>
            <td><p>Forma de pago: Las actuales con la empresa.</p></td>
          </tr>
        </table>

        <p style="text-align: center;">AVISO DE PRIVACIDAD PARA EL MANEJO DE DATOS CONFIDENCIALES</p>
        <p>Su información personal proporcionada por este medio será́ utilizada para el servicio de verificación que ha
          solicitado, informarle sobre el avance y necesidades durante la prestación de los mismos, para evaluar la
          calidad del servicio que le brindamos y facturación.
          Usted tiene derecho a acceder a sus datos personales que poseemos y a los detalles del tratamiento de los
          mismos, así como ratificarlo en caso de ser inexactos o instruirnos a cancelarlos cuando considere que
          resulten ser excesivos o innecesarios para las finalidades que justificaron su obtención u oponerse al
          tratamiento de los mismos para fines específicos.</p>
        <p>Su información no se va a hacer de dominio público, excepto por la información que el cliente indique que
          está públicamente disponible, o cuando el acuerdo entre la UV y el cliente así lo indiquen (por ejemplo, con
          el fin de responder a las apelaciones)</p>
        <p> Los mecanismos implementados para el ejercicio de dichos derechos son a través de la solicitud respectiva en
          la dirección:</p><br>

        <p>Sin más por el momento y en espera de poder brindarle nuestros servicios, quedamos en espera de su
          autorización.</p><br>

          <table>
            <tr>
              <td>
                  <p>ATENTAMENTE</p>
                  <div class="sign">
                    <div class="signature">
                        <div id="contSign" onclick = "btn_click()">
                          <img src="" id="imgSign">
                        </div>
                    </div>
                    <hr>
                    <div >
                      <p>ING. HECTOR MARTINEZ PEÑA</p>
                    </div>
                  </div>
              </td>
              <td>
                  <p>SI AUTORIZAMOS</p>
                  <p>EL PRESENTE PRESUPUESTO</p>
                  <div class="sign">
                    <div class="signature">
                        <div id="contSign2" onclick = "btn_click()">
                          <img src="" id="imgSign2">
                        </div>
                    </div>
                    <hr>
                    <div >
                      <p><input type="text"></p>
                    </div>
                  </div>
              </td>
            </tr>
              
            </table>


        <p class="footer_">Este documento hace las veces de contrato cuando ambas partes así lo consideren.En caso que
          “EL SOLICITANTE” en forma unilateral y sin causas imputables a “EL VERIFICADOR”, cancelará la verificación, no
          tendrá derecho a reclamar la devolución del anticipo o cubrirá el precio de lo ejecutado hasta el momento de
          la cancelación, lo que sea mayor, si “EL VERIFICADOR” no diera cabal cumplimiento a sus obligaciones del
          presente instrumento, “EL SOLICITANTE” Tendrá derecho a rescindirlo</p>
      </div>
    </div>
  </section>
</div>