<section>
  <div class="main-content">
    <table>
      <tr>
        <td colspan="2"><img style="width: 100%;" src="assets/mt.png" alt=""></td>
      </tr>
      <tr>
        <td><span><img src="assets/list.svg" alt="" [routerLink]="['/panel']"></span></td>
        <td><span><img src="assets/add.svg" alt="" [routerLink]="['/nuevo']"></span></td>
      </tr>
      <tr>
        <td><p [routerLink]="['/panel']">Lista de Expedientes</p></td>
        <td><p [routerLink]="['/nuevo']">Nuevo Expediente</p></td>
      </tr>
    </table>
  </div>
</section>