<app-navbar></app-navbar>
<div class="app">
  <section>
    <div class="page">
      <div class="inner">
        
          <h3 style="text-align: center;">Actualizar Expediente</h3>
          <table id="tab1">
            <tr>
              <th>
                <span class="line">Datos del Solicitante </span>
              </th>
            </tr>
          </table>
          <form [formGroup]="clientForm" (ngSubmit)="submitClientData()" novalidate autocomplete="off">
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.razon}">
                <span class="line">Razón Social: </span>
                <input class="line1 focusNext" type="text" formControlName="razon" placeholder="**" [(ngModel)]="datos.razon" tabindex="0">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.giro}">
                <span class="line">Giro: </span>
                <input class="line1 focusNext" type="text" formControlName="giro" placeholder="**" [(ngModel)]="datos.giro" tabindex="1">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.nocontrol}">
                <span class="line">No. de Control Interno: </span>
                <input class="line1 focusNext" type="text" formControlName="nocontrol" placeholder="**" [(ngModel)]="datos.nocontrol" tabindex="2">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.nombre}">
                <span class="line">Nombre del Responsable: </span>
                <input class="line1 focusNext" type="text" formControlName="nombre" placeholder="**" [(ngModel)]="datos.nombre" tabindex="3">
              </td>
            </tr>
          </table>
          </form>
          
          <table id="tab3">
            <tr>              
              <td class="col50" [ngClass]="{'green':datos.fechai}">
                <span class="line">Fecha Inicio: </span>
                <input class="line2" type="date" [(ngModel)]="datos.fechai">
              </td>
              <td class="col50" [ngClass]="{'green':datos.correo}">
                <span class="line">Correo electrónico: </span>
                <input class="line2 focusNext" type="text" [(ngModel)]="datos.correo" tabindex="4">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50" [ngClass]="{'green':datos.tel}">
                <span class="line">Teléfono: </span>
                <input class="line2 focusNext" type="text" [(ngModel)]="datos.tel" tabindex="5">
              </td>
              <td class="col50" [ngClass]="{'green':datos.fax}">
                <span class="line">Fax: </span>
                <input class="line2 focusNext" type="text" [(ngModel)]="datos.fax" tabindex="6">
              </td>
            </tr>
          </table>
          <!-- <table id="tab3">
            <tr>
              <td class="col50" [ngClass]="{'green':datos.id}">
                <span class="line">Identificación: </span>
                <input class="line2" type="text" [(ngModel)]="datos.id">
              </td>
              <td class="col50" [ngClass]="{'green':datos.folio}">
                <span class="line">No de Id o Folio: </span>
                <input class="line2" type="text" [(ngModel)]="datos.folio">
              </td>
            </tr>
          </table> -->
          <table id="tab3">
            <tr>              
              <td class="col50" [ngClass]="{'green':datos.rfc}">
                <span class="line">RFC: </span>
                <input class="line2 focusNext" type="text" [(ngModel)]="datos.rfc" tabindex="7">
              </td>
              <td class="col50" [ngClass]="{'green':datos.logo}">
                <span class="line">Logo: </span>
                <input class="line2 focusNext" type="file" accept="image/*" (change)="changeListener($event)">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.calle}">
                <span class="line">Calle y No.: </span>
                <input class="line1 focusNext" type="text" [(ngModel)]="datos.calle" tabindex="8">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.colonia}">
                <span class="line">Colonia o Población: </span>
                <input class="line1 focusNext" type="text" [(ngModel)]="datos.colonia" tabindex="9">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.munic}">
                <span class="line">Municipio o Delegación: </span>
                <input class="line1 focusNext" type="text" [(ngModel)]="datos.munic" tabindex="10">
              </td>
            </tr>
          </table>
          <table id="tab2">
            <tr>
              <td class="col50" [ngClass]="{'green':datos.estado}">
                <span class="line">Ciudad o Estado: </span>
                <input class="line2 focusNext" type="text" [(ngModel)]="datos.estado" tabindex="11">
              </td>
              <td class="col50" [ngClass]="{'green':datos.cp}">
                <span class="line">C.P.: </span>
                <input class="line2 focusNext" type="number" [(ngModel)]="datos.cp" tabindex="12">
              </td>
            </tr>
          </table>

          <br>
          <table id="tab1">
            <tr>
              <th>
                <span class="line">Datos del Servicio </span>
              </th>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.tipos}">
                <span class="line">Tipo de Servicio: </span>
                <input class="line1 focusNext" type="text" [(ngModel)]="datos.tipos" tabindex="13">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50" [ngClass]="{'green':datos.planos}">
                <span class="line">Planos: </span>
                <input class="line1 focusNext" type="text" [(ngModel)]="datos.planos" tabindex="14">
              </td>              
              <td class="col50" [ngClass]="{'green':datos.fechaf}">
                <span class="line">Fecha Termino: </span>
                <input class="line1" type="date" [(ngModel)]="datos.fechaf">
              </td>              
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50" [ngClass]="{'green':datos.tension}">
                <span class="line">Tensión: </span>
                <select name="tension" [(ngModel)]="datos.tension">
                  <option value="Baja" selected>Baja</option>
                  <option value="Media">Media</option>
                  <option value="Alta">Alta</option>
                </select>
              </td>
              <td class="col50" [ngClass]="{'green':datos.pedido}">
                  <span class="line">No de Pedido: </span>
                  <input class="focusNext" type="number" [(ngModel)]="datos.pedido" tabindex="15">
                </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50" [ngClass]="{'green':datos.cargai}">
                <span class="line">Carga Instalada: </span>
                <input class="focusNext" type="number" step="0.01" min="0" [(ngModel)]="datos.cargai" placeholder="kW" tabindex="16">
              </td>
              <td class="col50" [ngClass]="{'green':datos.alcance}">
                <span class="line">Alcance de la Verif.: </span>
                <input class="focusNext" type="number" step="0.01" min="0" [(ngModel)]="datos.alcance" placeholder="kW" tabindex="17">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50" [ngClass]="{'green':datos.factor}">
                <span class="line">Factor de Demanda: </span>
                <input class="focusNext" type="number" min="0" max="100" [(ngModel)]="datos.factor" placeholder="%" tabindex="18">
              </td>
              <td class="col50" [ngClass]="{'green':datos.cargadem}">
                <span class="line">Carga Demandada: </span>
                <input class="focusNext" type="number" step="0.001" min="0" [(ngModel)]="datos.cargadem" placeholder="kW" tabindex="19">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50" [ngClass]="{'green':datos.corriente}">
                <span class="line">Corriente Demandada: </span>
                <input class="focusNext" type="number" step="0.01" min="0" [(ngModel)]="datos.corriente" placeholder="Amps" tabindex="20">
              </td>
              <td class="col50" [ngClass]="{'green':datos.volts}">
                <span class="line">Voltaje: </span>
                <input class="focusNext" type="text" [(ngModel)]="datos.volts" placeholder="220/127 v" tabindex="21">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50" [ngClass]="{'green':datos.sub}">
                <span class="line">Cap. de Subestación: </span>
                <input class="focusNext" type="number" step="0.01" min="0" [(ngModel)]="datos.sub" placeholder="kVA" tabindex="22">
              </td>
              <td class="col50" [ngClass]="{'green':datos.area}">
                <span class="line">Área electrificada: </span>
                <input class="focusNext" type="number" step="0.01" min="0" [(ngModel)]="datos.area" placeholder="m2" tabindex="23">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50" [ngClass]="{'green':datos.costo}">
                <span class="line">Costo: $ </span>
                <input class="focusNext" type="number" [(ngModel)]="datos.costo" min="0" (change)="costo($event.target.value)" tabindex="24">
              </td>
              <td class="col50" [ngClass]="{'green':datos.instal}">
                <span class="line">Tipo de área: </span>
                <select name="instal" [(ngModel)]="datos.instal">
                  <option value="publica" selected>Concentración pública</option>
                  <option value="peligrosa">Área peligrosa</option>
                </select>
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.costol}">
                <span class="line">Costo con letra: </span>
                <input class="line1" type="text" [(ngModel)]="datos.costol" value={{costol}}>
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.ambien}">
                <span class="line">Ambientes especiales: </span>
                <label><span class="line">Si</span>
                  <input type="radio" name="ambien" [(ngModel)]="datos.ambien" value="si">
                </label>
                <label><span class="line">No</span>
                  <input type="radio" name="ambien" [(ngModel)]="datos.ambien" value="no">
                </label>
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.memo}">
                <span class="line">Memoria Técnica: </span>
                <label><span class="line">Si</span>
                  <input type="radio" name="memo" value="si" [(ngModel)]="datos.memo">
                </label>
                <label><span class="line">No</span>
                  <input type="radio" name="memo" value="no" [(ngModel)]="datos.memo">
                </label>
              </td>
            </tr>
          </table>
          <br>
          <table id="tab1">
            <tr>
              <th>
                <span class="line">Datos UVIE </span>
              </th>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.nombreuv}">
                <span class="line">Responsable UVIE: </span>
                <input class="line1 focusNext" type="text" [(ngModel)]="datos.nombreuv" tabindex="25">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td [ngClass]="{'green':datos.cargouv}">
                <span class="line">Cargo: </span>
                <input class="line1 focusNext" type="text" [(ngModel)]="datos.cargouv" tabindex="26">
              </td>
            </tr>
          </table>
          <br>          
        
      </div>
    </div>
    <div>
        <button class="volver_ no-print" (click)="goBack()">
            Volver
          </button>
          <button class="imprimir_ no-print" (click)="submitClientData()" [disabled]="!clientForm.valid" (click)="goBack()">
          Guardar
        </button>
      <!-- <button class="guardar_c no-print" (click)="submitClientData()" [disabled]="!clientForm.valid">
        Guardar
      </button> -->
    </div>
  </section>
</div>