<app-navbar></app-navbar>
<div class="app">
  <section>
    <div class="page">
      <div class="inner">
        
          <h3>Actualizar Expediente</h3>
          <table id="tab1">
            <tr>
              <th>
                <span class="line">Datos del Solicitante </span>
              </th>
            </tr>
          </table>
          <form [formGroup]="clientForm" (ngSubmit)="submitClientData()" novalidate autocomplete="off">
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Razón Social: </span>
                <input class="line1" type="text" formControlName="razon" placeholder="**" [(ngModel)]="datos.razon">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Giro: </span>
                <input class="line1" type="text" formControlName="giro" placeholder="**" [(ngModel)]="datos.giro">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">No. de Control Interno: </span>
                <input class="line1" type="text" formControlName="nocontrol" placeholder="**" [(ngModel)]="datos.nocontrol">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Nombre del Responsable: </span>
                <input class="line1" type="text" formControlName="nombre" placeholder="**" [(ngModel)]="datos.nombre">
              </td>
            </tr>
          </table>
          </form>
          <table id="tab3">
            <tr>
              <td class="col50">
                <span class="line">Teléfono: </span>
                <input class="line2" type="text" [(ngModel)]="datos.tel">
              </td>
              <td class="col50">
                <span class="line">Fax: </span>
                <input class="line2" type="text" [(ngModel)]="datos.fax">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50">
                <span class="line">Correo electrónico: </span>
                <input class="line2" type="text" [(ngModel)]="datos.correo">
              </td>
              <td class="col50">
                <span class="line">RFC: </span>
                <input class="line2" type="text" [(ngModel)]="datos.rfc">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50">
                <span class="line">Identificación: </span>
                <input class="line2" type="text" [(ngModel)]="datos.id">
              </td>
              <td class="col50">
                <span class="line">No de Id o Folio: </span>
                <input class="line2" type="text" [(ngModel)]="datos.folio">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50">
                <span class="line">Fecha Inicio: </span>
                <input class="line2" type="text" [(ngModel)]="datos.fechai">
              </td>
              <td class="col50">
                <span class="line">Logo: </span>
                <input class="line2" type="file" accept="image/*" (change)="changeListener($event)">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Calle y No.: </span>
                <input class="line1" type="text" [(ngModel)]="datos.calle">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Colonia o Población: </span>
                <input class="line1" type="text" [(ngModel)]="datos.colonia">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Municipio o Delegación: </span>
                <input class="line1" type="text" [(ngModel)]="datos.munic">
              </td>
            </tr>
          </table>
          <table id="tab2">
            <tr>
              <td class="col50">
                <span class="line">Ciudad o Estado: </span>
                <input class="line2" type="text" [(ngModel)]="datos.estado">
              </td>
              <td class="col50">
                <span class="line">C.P.: </span>
                <input class="line2" type="number" [(ngModel)]="datos.cp">
              </td>
            </tr>
          </table>

          <br>
          <table id="tab1">
            <tr>
              <th>
                <span class="line">Datos del Servicio </span>
              </th>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Tipo de Servicio: </span>
                <input class="line1" type="text" [(ngModel)]="datos.tipos">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">No de Pedido: </span>
                <input class="line1" type="number" [(ngModel)]="datos.pedido">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50">
                <span class="line">Tensión: </span>
                <select name="tension" [(ngModel)]="datos.tension">
                  <option value="Baja" selected>Baja</option>
                  <option value="Media">Media</option>
                  <option value="Alta">Alta</option>
                </select>
              </td>
              <td class="col50">
                <span class="line">Planos: </span>
                <input type="text" [(ngModel)]="datos.planos">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50">
                <span class="line">Carga Instalada: </span>
                <input type="number" step="0.01" min="0" [(ngModel)]="datos.cargai" placeholder="Kw">
              </td>
              <td class="col50">
                <span class="line">Alcance de la Verif.: </span>
                <input type="number" step="0.01" min="0" [(ngModel)]="datos.alcance" placeholder="Kw">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50">
                <span class="line">Factor de Demanda: </span>
                <input type="number" min="0" max="100" [(ngModel)]="datos.factor" placeholder="%">
              </td>
              <td class="col50">
                <span class="line">Carga Demandada: </span>
                <input type="number" step="0.001" min="0" [(ngModel)]="datos.cargadem" placeholder="Kw">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50">
                <span class="line">Corriente Demandada: </span>
                <input type="number" step="0.01" min="0" [(ngModel)]="datos.corriente" placeholder="Amps">
              </td>
              <td class="col50">
                <span class="line">Voltaje: </span>
                <input type="text" [(ngModel)]="datos.volts" placeholder="220/127 v">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50">
                <span class="line">Cap. de Subestación: </span>
                <input type="number" step="0.01" min="0" [(ngModel)]="datos.sub" placeholder="kVA">
              </td>
              <td class="col50">
                <span class="line">Área electrificada: </span>
                <input type="number" step="0.01" min="0" [(ngModel)]="datos.area" placeholder="m2">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50">
                <span class="line">Costo: $ </span>
                <input type="number" [(ngModel)]="datos.costo" min="0" (change)="costo($event.target.value)">
              </td>
              <td class="col50">
                <span class="line">Tipo de instalación: </span>
                <select name="instal" [(ngModel)]="datos.instal">
                  <option value="publica" selected>Concentración pública</option>
                  <option value="peligrosa">Área perligrosa</option>
                </select>
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Costo con letra: </span>
                <input class="line1" type="text" [(ngModel)]="datos.costol" value={{costol}}>
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">NOM-001-SEDE-2012 Instalaciones Eléctricas (utilización) </span>
                <input type="checkbox" [(ngModel)]="datos.nom1">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">NOM-007-ENER-2014 Eficiencia energética en sistemas de alumbrado no residenciales.
                </span>
                <input type="checkbox" [(ngModel)]="datos.nom7">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">NOM-013-ENER-2013 Eficiencia energética para sistemas de alumbrado en vialidades.
                </span>
                <input type="checkbox" [(ngModel)]="datos.nom13">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Revisión de planos de proyecto y memoria de cálculo. </span>
                <input type="checkbox" [(ngModel)]="datos.revp">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Verificación de subestación eléctrica. </span>
                <input type="checkbox" [(ngModel)]="datos.verfs">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Verificación de instalaciones en baja tensión. </span>
                <input type="checkbox" [(ngModel)]="datos.verfbt">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Ambientes especiales: </span>
                <label><span class="line">Si</span>
                  <input type="radio" name="ambien" [(ngModel)]="datos.ambien" value="si">
                </label>
                <label><span class="line">No</span>
                  <input type="radio" name="ambien" [(ngModel)]="datos.ambien" value="no">
                </label>
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Memoria Técnica: </span>
                <label><span class="line">Si</span>
                  <input type="radio" name="memo" value="si" [(ngModel)]="datos.memo">
                </label>
                <label><span class="line">No</span>
                  <input type="radio" name="memo" value="no" [(ngModel)]="datos.memo">
                </label>
              </td>
            </tr>
          </table>
          <br>
          <table id="tab1">
            <tr>
              <th>
                <span class="line">Datos del Responsable de atender a la UVIE </span>
              </th>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td>
                <span class="line">Nombre: </span>
                <input class="line1" type="text" [(ngModel)]="datos.nombreuv">
              </td>
            </tr>
          </table>
          <table id="tab3">
            <tr>
              <td class="col50">
                <span class="line">Identificación: </span>
                <input type="text" [(ngModel)]="datos.iduv">
              </td>
              <td class="col50">
                <span class="line">No de Id o Folio: </span>
                <input type="number" min="0" [(ngModel)]="datos.foliouv">
              </td>
            </tr>
          </table>
          <br>

          <table style=" text-align:center; border:none;">
            <tr>
              <td>
                <p class="line">"LA UNIDAD DE VERIFICACIÓN"</p>
                <div class="sign">
                  <div class="signature">
                    <div id="contSign" onclick="btn_click()">
                      <img src="{{datos.s1}}" id="imgSign" (load)="imgChanged($event)">
                    </div>
                  </div>
                  <hr>
                  <div>
                    <p class="line">ING. HÉCTOR MARTÍNEZ PEÑA</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="line">"EL SOLICITANTE"</p>
                <div class="sign">
                  <div class="signature">
                    <div id="contSign" onclick="btn_click2()">
                      <img src="{{datos.s2}}" id="imgSign2" (load)="imgChanged2($event)" >
                    </div>
                  </div>
                  <hr>
                  <div style="margin: 1.8mm;">
                    <input style="width: 100%; font-size: 0.8em; text-transform: uppercase;" type="text" [(ngModel)]="datos.razon">
                  </div>
                </div>
              </td>
              <td>
                <p class="line">"EL RESPONSABLE"</p>
                <div class="sign">
                  <div class="signature">
                    <div id="contSign" onclick="btn_click3()">
                      <img src="{{datos.s3}}" id="imgSign3" (load)="imgChanged3($event)">
                    </div>
                  </div>
                  <hr>
                  <div style="margin: 1.9mm;">
                    <input style="width: 100%; font-size: 0.8em; text-transform: uppercase;" type="text" [(ngModel)]="datos.nombreuv">
                  </div>
                </div>
              </td>
            </tr>
          </table>
        
      </div>
    </div>
    <div>
        <button class="volver_ no-print" (click)="goBack()">
            Volver
          </button>
          <button class="imprimir_ no-print" (click)="submitClientData()" [disabled]="!clientForm.valid" (click)="goBack()">
          Guardar
        </button>
      <!-- <button class="guardar_c no-print" (click)="submitClientData()" [disabled]="!clientForm.valid">
        Guardar
      </button> -->
    </div>
  </section>
</div>