/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
    --margin-first-page: 2em;
    --margin-last-page: 2em;
    --page-width: 21.59cm;
    --page-height: 27.94cm;
    --mini-page-width: 4.63cm;
    --mini-page-height: 6cm;
    --page-color: #FFFFFF;
    --page-inner-width: calc(100% - 7mm - 7mm);
    --page-inner-height: calc(100% - 1cm - 1cm);
    --page-inner-margin: 7mm;
    --page-inner-top: 1cm;
    --font: 'Times New Roman', Times, serif;
    --font-size: 1em;
    --background: #fafafa;
    --text-color: #111;
    --logo-width: 3.5cm;
    --input-text-color: #313131;
    --head-color: #4369aa;
  }
  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  html { box-sizing: border-box; }
  body {
    font-family: var(--font);
    background-color: var(--background);
    font-size: var(--font-size);
    color: var(--text-color);
    font-weight: 400;
  }

  .app {
    margin-bottom: var(--margin-last-page);
  }


  @page {margin: 0;padding: 0;}
  .page {
    position: relative;
    width: var(--page-width);
    min-width: var(--page-width);
    height: var(--page-height);
    min-height: var(--page-height);
    background: var(--page-color);
    margin: 0 auto;
    box-shadow: 1px 5px 15px #707070;
  }
  .page-landscape {
    position: relative;
    width: var(--page-height);
    min-width: var(--page-height);
    height: var(--page-width);
    min-height: var(--page-width);
    background: var(--page-color);
    margin: 0 auto;
    box-shadow: 1px 5px 15px #707070;
  }
  .page-landscape-mid {
    position: relative;
    width: var(--page-height);
    min-width: var(--page-height);
    height: 10cm;
    min-height: 10cm;
    background: var(--page-color);
    margin: 0 auto;
    box-shadow: 1px 5px 15px #707070;
  }
  .mini-page{
    /* position: relative; */
    width: var(--mini-page-width);
    min-width: var(--mini-page-width);
    height: var(--mini-page-height);
    min-height: var(--mini-page-height);
    background: var(--page-color);
   /*  margin: 0 auto; */
    margin: 2mm 3.3mm;
    box-shadow: 1px 3px 5px #707070;
    cursor: pointer;
  }
  .mini-content {
    display: flex;
  }
  .mini-content p {
    font-size: 2.3em;
    text-align: center;
    color: #008000;
  }
  .page:first-of-type, .page-landscape:first-of-type, .page-landscape-mid:first-of-type { margin-top: var(--margin-first-page); }
  .page:last-of-type, .page-landscape:last-of-type, .page-landscape-mid:first-of-type { margin-bottom: var(--margin-last-page); }
  .page > .inner, .page-landscape > .inner, .mini-page > .inner, .page-landscape-mid > .inner {
    position: relative;
    width: var(--page-inner-width);
    height: var(--page-inner-height);
    margin: 0 var(--page-inner-margin);
    top: var(--page-inner-top);
    overflow: hidden;
    /* border: solid 1px red; */
  }

  @media print{
    .no-print { display: none !important; }
    nav {
      display: none;
      height: 0;
    }
    .nav-bar {
      display: none;
      height: 0;
    }    
    * {
      -webkit-print-color-adjust: exact;
    }
    .app {
      margin-bottom: 0 !important;
    }
    .page, .page-landscape {
      box-shadow: none;
    }
    .page:first-of-type, .page-landscape:first-of-type { margin-top: 0 !important; }
    .page:last-of-type, .page-landscape:last-of-type { margin-bottom: 0 !important; }
    
  }

  #printBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #printBtn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .guardar_ {
    position: fixed;
    bottom: 225px;
    right: 25px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #a4bd39;
    color: #333;
    font-weight: 600;
    box-shadow: 1px 3px 5px #707070;
  }

  .imprimir_ {
    position: fixed;
    bottom: 125px;
    right: 25px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #39b4bd;
    color: #333;
    font-weight: 600;
    box-shadow: 1px 3px 5px #707070;
  }
  .volver_ {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #7c7c80;
    color: #333;
    font-weight: 600;
    box-shadow: 1px 3px 5px #707070;
  }

  .guardar_c {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #a4bd39;
    color: #333;
    font-weight: 600;
    box-shadow: 1px 3px 5px #707070;
  }

  .guardar_c:disabled {
    background-color: #7c7c80;
  }

  input[type=checkbox], input[type=radio] {
    border: 1px solid #7c7c80;
  /* padding: 0.5em;*/
    padding: 0.4em;
    max-width: 3mm;
    -webkit-appearance: none;
    margin-left: 0;
    margin-right: 4mm;
    margin-top: 1mm;
  }
input[type=checkbox]:checked ,input[type=radio]:checked{
  background: #7c7c80;
 /* background-size: 6px 8px;**/
}

input[type=checkbox]:focus,input[type=radio]:focus {
  outline-color: transparent;
}
  
.sign{
  align-content: center;
  /* margin-left: 13mm; */
  width: 250px;
}