<p>Razón Social: <input type="text"></p>
<p>Giro: <input type="text"></p>
<p>No. de Control Interno: <input type="text"></p>
<p>Responsable: <input type="text"></p>
<p>Teléfono: <input type="text"></p>
<p>Correo electrónico: <input type="text"></p>
<p>Fax: <input type="text"></p>
<p>RFC: <input type="text"></p>
<p>Fecha Inicio: <input type="date"></p>
<p>Fecha Termino: <input type="date"></p>
<p>Calle y No.: <input type="text"></p>
<p>Colonia o Población: <input type="text"></p>
<p>Municipio o Delegación: <input type="text"></p>
<p>Entidad Federativa: <input type="text"></p>
<p>C.P.: <input type="text"></p>
<p>Logo: <input type="file" accept="image/*"></p>

<p>Tipo de Servicio: <input type="text"></p>
<p>
  Tensión: 
  <select name="tension">
      <option value="Baja" selected>Baja</option> 
      <option value="Media">Media</option>
      <option value="Alta">Alta</option>
    </select>
</p>
<p>Carga Instalada: <input type="text"> Kw</p>
<p>Alcance de la Verificación: <input type="text"> Kw</p>
<p>Factor de Demanda: <input type="text"> %</p>
<p>Carga Demandada: <input type="text"> Kw</p>
<p>Corriente Demandada: <input type="text"> Amps. <input type="text"> V</p>
<p>Capacidad de Subestación: <input type="text"> kVA</p>
<p>Área electrificada: <input type="text"> m<sup>2</sup></p>
<p>Costo: <input type="text"></p>
<p>Costo letra: <input type="text"></p>
<p>
  Área peligrosa:
  <label for="peligro-si">Si</label>
  <input type="radio" name="peligro" id="peligro-si">
  <label for="peligro-no">No</label>
  <input type="radio" name="peligro" id="peligro-no">
 </p>
 <p>
    Ambientes especiales:
    <label for="ambientes-si">Si</label>
    <input type="radio" name="ambientes" id="ambientes-si">
    <label for="ambientes-no">No</label>
    <input type="radio" name="ambientes" id="ambientes-no">
   </p>
 <p>
    
  Memoria Técnica:
  <label for="memoria-si">Si</label>
  <input type="radio" name="memoria" id="memoria-si">
  <label for="memoria-no">No</label>
  <input type="radio" name="memoria" id="memoria-no">
 </p>

