<app-navbar></app-navbar>
<div class="app">
    <section>
        <!-- <div class="page-landscape">
            <div class="inner"> -->
                <h2>Expedientes 20{{key}}.</h2>
                <table *ngIf="data_" datatable [dtOptions]="dtOptions" class="row-border hover">
                    <thead>
                        <tr>
                            <th>Fecha aaaa-mm-dd</th>
                            <th>Razón Social</th>
                            <th>No. de Control Interno</th>
                            <th>Giro</th>
                            <th>Responsable</th>
                            <th>Ver</th>
                            <th>Eliminar</th>
                            <!-- <th>Más...</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of dataList;let i=index; ">
                            <!-- <td>{{client.datos.dia}}-{{client.datos.mes}}-{{client.datos.anio}}</td> -->
                            <td>{{client.datos.fechai}}</td>
                            <td>{{client.datos.razon}}</td>
                            <td>{{client.datos.nocontrol}}</td>
                            <td>{{client.datos.giro}}</td>
                            <td>{{client.datos.nombre}}</td>
                            <!-- <td><a [routerLink]="['/cliente/', client.$key]">+</a></td> -->
                            <td style="text-align: center;">
                                <img src="assets/eye.svg" [routerLink]="['/cliente/', client.$key]" style="cursor: pointer;">                               
                            </td>
                            <td style="text-align: right;">
                                <img src="assets/trash.svg" (click)="deleteForm(client)" style="cursor: pointer;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table *ngIf="data_2" datatable [dtOptions]="dtOptions" class="row-border hover">
                    <thead>
                        <tr>
                            <th>Fecha aaaa-mm-dd</th>
                            <th>Razón Social</th>
                            <th>No. de Control Interno</th>
                            <th>Giro</th>
                            <th>Responsable</th>
                            <!-- <th>Más...</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of dataList;let i=index; " [routerLink]="['/cliente/', client.id]" style="cursor: pointer;">
                            <td>{{client.datos.fechai}}</td>
                            <!-- <td>{{client.datos.dia}}/{{client.datos.mes}}/{{client.datos.anio}}</td> -->
                            <td>{{client.datos.razon}}</td>
                            <td>{{client.datos.nocontrol}}</td>
                            <td>{{client.datos.giro}}</td>
                            <td>{{client.datos.nombre}}</td>
                            <!-- <td><a [routerLink]="['/cliente/', client.$key]">+</a></td> -->
                        </tr>
                    </tbody>
                </table>
            <!-- </div>
        </div> -->
    </section>
    <div>
        <button class="volver_ no-print" (click)="goBack()">
          Volver
        </button>
      </div>
</div>