<app-navbar></app-navbar>
<div class="app">
  <!-- <form [formGroup]="clientF" autocomplete="off"> -->
    <section>
      <div class="page">
        <div class="inner">
          <table class="table1_">
            <tr>
              <td rowspan="5" style="width: 43%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
              <td rowspan="5" style="width: 32%;">
                <h2>
                  <b>{{ ft07.name }}</b>
                </h2>

              </td>
              <td style="padding-top: 3mm;">CÓDIGO: <b>{{ ft07.cod }}</b></td>
            </tr>
            <tr>
              <td>EDICIÓN: <b>1</b></td>
            </tr>
            <tr>
              <td>N. REVISIÓN: <b>{{ ft07.rev }}</b></td>
            </tr>
            <tr>
              <td rowspan="2">Vigente a partir de: <br><b>{{ ft07.vigen }}</b></td>
            </tr>
          </table>

          <p>DATOS DEL SOLICITANTE DE LA VERIFICACIÓN:</p>
          <p style="text-align: right;">Verificación No.: <b *ngIf="client">{{ client.nocontrol }}/{{ ff.a }}</b>
          </p>
          <table>
            <tr>
              <td>
                <p>NOMBRE, DENOMINACIÓN O RAZÓN SOCIAL DEL SOLICITANTE:</p>
                <p class="bb"> <b *ngIf="client" style="text-transform: uppercase;">{{ client.razon }}</b></p>
              </td>
            </tr>
            <tr>
              <td style="display: inline-flex;">
                <span>ACTIVIDAD: </span> <div class="bb p" style="width: 17.4cm;"><b *ngIf="client" style="text-transform: uppercase;">{{ client.giro }}</b></div>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td colspan="2">
                <p>DOMICILIO DE LA INSTALACIÓN ELÉCTRICA: 
                  <span style="font-size: 1em;" *ngIf="type=='71'">(1 Instalación eléctrica)</span>
                  <span style="font-size: 1em;" *ngIf="type=='72'">(2 Instalación eléctrica)</span>
                  <span style="font-size: 1em;" *ngIf="type=='151'">(1 Proyecto)</span>
                  <span style="font-size: 1em;" *ngIf="type=='152'">(2 Proyecto)</span>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span>CALLE O AVENIDA: </span> <input *ngIf="client" type="text" class="bb p" style="width: 16.3cm;" value="{{client.calle}}">
                 <!-- <b *ngIf="client">{{ client.calle }}</b> -->
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span>COLONIA O POBLACIÓN: </span> <input type="text" class="bb p" style="width: 15.5cm;" *ngIf="client" value="{{ client.colonia }}">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span>MUNICIPIO O DELEGACIÓN: </span> <input class="bb p" style="width: 15cm;" *ngIf="client" value="{{ client.munic }}">
              </td>
            </tr>
            <tr>
              <td>
                <span>CIUDAD O ESTADO: </span> <input class="bb p" style="width: 9.7cm;" *ngIf="client" value="{{ client.estado }}">
              </td>
              <td>
                <span>C.P: </span> <input class="bb p" style="width: 4.9cm;" *ngIf="client" value="{{ client.cp }}">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span>TELÉFONO:  </span> <input class="bb p" style="width: 17.5cm;" *ngIf="client" value="{{ client.tel }}">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span>CORREO ELECTRÓNICO: </span>  <input class="bb p" style="width: 15.5cm;" *ngIf="client" value="{{ client.correo }}">
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <p>NOMBRE Y CARGO DE LA PERSONA QUE ATENDIÓ LA VISITA DE VERIFICACIÓN:</p>
                <textarea rows="3" [(ngModel)]="ft07.nomycar"></textarea>
              </td>
            </tr>
          </table>

          <br>
          <p>DATOS DE LA VISITA DE VERIFICACIÓN:</p>
          <table>
            <tr>
              <td>
                <p>OBJETO DE LA VISITA DE VERIFICACIÓN</p>
                <textarea rows="4" [(ngModel)]="ft07.objeto"></textarea>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <p>FECHA DE LA VISITA DE VERIFICACIÓN 
                  DIA: <input type="text" [(ngModel)]="ft07.fechad"> 
                  MES: <input type="text" [(ngModel)]="ft07.fecham"> 
                  AÑO: <input type="text" [(ngModel)]="ft07.fechaa"></p>
                <p>HORA DE INICIO: <input type="text" [(ngModel)]="ft07.horai"> HORA DE TERMINO: <input type="text" [(ngModel)]="ft07.horaf"></p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <p>DESARROLLO DE LA VISITA DE VERIFICACIÓN: </p>
                <p>Circunstancias en las que se efectúa la verificación</p>
                <textarea rows="11" [(ngModel)]="ft07.circuns"></textarea>
              </td>
            </tr>
          </table>
        </div>

      </div>

    </section>

    <section>
      <div class="page">
        <div class="inner">
          <table class="table1_">
            <tr>
              <td rowspan="5" style="width: 43%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
              <td rowspan="5" style="width: 32%;">
                <h2>
                  <b>{{ ft07.name }}</b>
                </h2>

              </td>
              <td style="padding-top: 3mm;">CÓDIGO: <b>{{ ft07.cod }}</b></td>
            </tr>
            <tr>
              <td>EDICIÓN: <b>1</b></td>
            </tr>
            <tr>
              <td>N. REVISIÓN: <b>{{ ft07.rev }}</b></td>
            </tr>
            <tr>
              <td rowspan="2">Vigente a partir de: <br><b>{{ ft07.vigen }}</b></td>
            </tr>
          </table>
          <table>
              <tr>
                <td>
                  <p>No Conformidades Encontradas:</p>
                  <textarea rows="4" [(ngModel)]="ft07.no_conf"></textarea>
                </td>
              </tr>
            </table>
            <table>
              <tr>
                <td>
                  <p>OBSERVACIONES DE LA PERSONA QUE ATENDIO LA VISITA DE VERIFICACIÓN:</p>
                  <textarea rows="3" [(ngModel)]="ft07.observa"></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Acciones realizadas y documentación ofrecida con respecto a lo asentado en el desarrollo de la visita de verificación:</p>
                  <textarea rows="2" [(ngModel)]="ft07.acciones"></textarea>
                </td>
              </tr>
            </table>
            <p>FIRMAS DE LOS QUE INTERVINIERON EN LA DILIGENCIA</p>
            <table>
              <tr>
                <td>
                  <p>Unidad de verificación de Instalaciones Eléctricas:
                    <input *ngIf="client" type="text" class="bb" style="width: 6cm; text-transform: uppercase;" value="{{client.nombreuv}}">
                    <!-- <b *ngIf="client" style="text-transform: uppercase;">{{ client.nombreuv }}</b> --></p>
                  <p>No. Registro: 
                    <input *ngIf="client" type="text" class="bb" style="width: 10.7cm;" value="{{client.nocontrol}}">
                    <!-- <b *ngIf="client">UVSEIE 448-A-{{ client.nocontrol }}/{{ ff.a }}</b> --></p>
                </td>
                <td style="width: 250px;">
                  <div class="sign" style="margin: 0 auto;">
                    <div class="signature">
                      <div id="contSign" onclick = "btn_click()">
                        <img *ngIf="client" src="{{ ft07.firma }}" id="imgSign" (load)="imgChanged($event)">
                      </div>
                    </div>
                    <hr>
                    <div>
                      <p style="text-align: center;">FIRMA</p>
                    </div>
                  </div>
                </td>
              </tr>              
            </table>
             <table class="table2_">
              <tr>
                <td>
                  <p>Datos de la persona que atendió la visita</p>
                  <p>Nombre: <input *ngIf="client" type="text" [(ngModel)]="client.nombrers" class="nom"></p>
                  <p>Identificación: <input *ngIf="client" type="text" [(ngModel)]="client.id2" class="id"></p>
                  <p>Número o folio de la identificación: <input *ngIf="client" type="text" [(ngModel)]="client.folio2" class="fol"></p>
                  <p>Expedida por: <input type="text" [(ngModel)]="ft07.exp1" class="exp"></p>
                  <p>Dirección: <input type="text" [(ngModel)]="ft07.direc1" class="dir"></p>
                </td>
                <td style="width: 250px;">
                  <div class="sign" style="margin: 0 auto;">
                    <div class="signature">
                      <div id="contSign" onclick = "btn_click2()">
                        <img *ngIf="client" src="{{ ft07.firma1 }}" id="imgSign2" (load)="imgChanged2($event)">
                      </div>
                    </div>
                    <hr>
                    <div>
                      <p style="text-align: center;">FIRMA</p>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
             <table class="table2_">
                <tr>
                  <td>
                    <p>Datos del Testigo</p>
                    <p>Nombre: <input type="text" [(ngModel)]="ft07.nom2" class="nom"></p>
                    <p>Identificación: <input type="text" [(ngModel)]="ft07.id2" class="id"></p>
                    <p>Número o folio de la identificación: <input type="text" [(ngModel)]="ft07.folio2" class="fol"></p>
                    <p>Expedida por: <input type="text" [(ngModel)]="ft07.exp2" class="exp"></p>
                    <p>Dirección: <input type="text" [(ngModel)]="ft07.direc2" class="dir"></p>
                  </td>
                  <td style="width: 250px;">
                    <div class="sign" style="margin: 0 auto;">
                      <div class="signature">
                        <div id="contSign" onclick = "btn_click3()">
                          <img *ngIf="client" src="{{ ft07.firma2 }}" id="imgSign3" (load)="imgChanged3($event)">
                        </div>
                      </div>
                      <hr>
                      <div>
                        <p style="text-align: center;">FIRMA</p>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
               <table class="table2_">
              <tr>
                <td>
                  <p>Datos del Testigo</p>
                  <p>Nombre: <input type="text" [(ngModel)]="ft07.nom3" class="nom"></p>
                  <p>Identificación: <input type="text" [(ngModel)]="ft07.id3" class="id"></p>
                  <p>Número o folio de la identificación: <input type="text" [(ngModel)]="ft07.folio3" class="fol"></p>
                  <p>Expedida por: <input type="text" [(ngModel)]="ft07.exp3" class="exp"></p>
                  <p>Dirección: <input type="text" [(ngModel)]="ft07.direc3" class="dir"></p>
                </td>
                <td style="width: 250px;">
                  <div class="sign" style="margin: 0 auto;">
                    <div class="signature">
                      <div id="contSign" onclick = "btn_click4()">
                        <img *ngIf="client" src="{{ ft07.firma3 }}" id="imgSign4" (load)="imgChanged4($event)">
                      </div>
                    </div>
                    <hr>
                    <div>
                      <p style="text-align: center;">FIRMA</p>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
        </div>
      </div>
    </section>
  <!-- </form> -->
  <div>
    <button class="volver_ no-print" (click)="goBack()">
      Volver
    </button>
    <!-- <button class="imprimir_ no-print" onclick="window.print()">
      Imprimir
    </button> -->
    <button class="guardar_ no-print" (click)="submitClientData()">
      Guardar
    </button>
    <button class="imprimir_ no-print" (click)="savePDF()">
        PDF
      </button> 
  </div>
</div>