table {
    width: 100%;    
    border-collapse: collapse;
    margin-bottom: 0.2em;
    border: solid 1px black;
}
.table1_ td {
    border: solid 1px black;
}
.table1_ {
    text-align: center;
    font-size: 0.7em;
    height: 2.5cm;
    margin-bottom: 1.5em;
}
.table2_ .nom {
    width: calc(100% - 1.3cm);
}
.table2_ .id {
    width: calc(100% - 2cm);
}
.table2_ .fol {
    width: calc(100% - 4.7cm);
}
.table2_ .exp {
    width: calc(100% - 1.95cm);
}
.table2_ .dir {
    width: calc(100% - 1.5cm);
}
input[type=radio] {
    margin-left: 0.5em;
    margin-right: 3em;
}
input[type=text] {
    border-bottom: 1px solid #999;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 2cm;
    padding: 0 1.5mm;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}
textarea {
    width: 100%;
    border: none;
    resize: none;
    padding: 0 1.5mm;
    font-size: 0.8em;
    font-family: 'Times New Roman', Times, serif;
    line-height: 4.7mm;
    background-size: 100% 4.7mm;
    background-image: linear-gradient(transparent, transparent calc(4.7mm - 1px), #999 0px);
}
p, span {
    font-size: 0.75em;
    text-align: justify;
    margin: 1.7mm 2mm;
}
.p {
    font-size: 0.75em !important;
    text-align: justify;
    margin: 1.1mm 2mm;
    border-top: none;
    border-right: none;
    border-left: none;
    font-weight: 600;
}
.tab_ {
    padding-left: 7mm;
}
.footer_ {
    font-size: 0.7em;
}

.bb {
    border-bottom: 1px solid #999;
}
.bbb {
    width: 100%;
}