<app-navbar></app-navbar>
<div class="app">
    <section>
      <div class="page-landscape">
        <div class="inner">
          <table class="table1_">
            <tr>
              <td rowspan="5" style="width: 30%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
              <td rowspan="2" style="width: 15%;">
                <h2><b>INFORME DE NO COMFORMIDAD</b></h2>
              </td>
              <td rowspan="2">
                <p>Proyecto <input type="checkbox"> Memorias Técnicas Descriptivas <input type="checkbox"></p>
                <p>Instalación en Sitio <input type="checkbox"> Pruebas <input type="checkbox"></p>
              </td>
              <td style="padding-top: 3mm;">CÓDIGO: <b>FT-08</b></td>
            </tr>
            <tr>
              <td>EDICIÓN: <b>1</b></td>
            </tr>
            <tr>
              <td rowspan="3">
                <p>No. UVSEIE 448 A-<b *ngIf="client">{{ client.nocontrol }}/{{ client.anio }}</b></p>                
                <p>Fecha: <b *ngIf="client">{{ client.dia }}/{{ client.mes }}/{{ client.anio }}</b></p>
              </td>
              <td rowspan="3">
                <p>Cliente: <b *ngIf="client">{{ client.razon }}</b></p>
                <p>Domicilio: <b *ngIf="client">{{ client.calle }} {{ client.colonia }}, {{client.munic}} {{client.estado}} C.P. {{client.cp}}.</b></p>
              </td>
              <td>NIVEL REV: <b>3</b></td>
            </tr>
            <tr>
              <td rowspan="2">Vigente: <b>05-Dic-14</b></td>
            </tr>
          </table>
  
          <table class="table3_">
            <tr>
              <th class="col1_">No</th>
              <th class="col2_">Descripción de No Conformidades</th>
              <th class="col3_">No Conforme con la(s) seccion(es) de la NOM</th>
              <th class="cols_">Fecha de revisión</th>
              <th>Acciones Correctivas <p>(Por el Cliente)</p></th>
              <th class="cols_">Fecha de solución</th>
            </tr>
            <tr>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
            </tr>
            <tr>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
              <td><textarea rows="2"></textarea></td>
            </tr>
          </table>
          <p>EL CLIENTE FIJA LA FECHA DE CORRECCIÓN PARA CERRAR LOS INCUMPLIMIENTOS ENCONTRADOS EN EL PROYECTO E INSTALACIONES. <b>LA LEY LE CONCEDE 90 DIAS PARA
              CORREGIR LAS NO CONFORMIDADES.</b>CUANDO HAYA EFECTUADO TODAS LAS CORRECCIONES, FAVOR DE AVISAR PARA PROGRAMAR UNA NUEVA VISITA DE INSPECCION
          </p><p><b>IMPORTANTE: EL VERIFICADOR NO ES EL SUPERVISOR DE OBRA DEL SOLICITANTE</b></p>
              <p>Verificador: Ing. Héctor Martínez Peña El Cliente: <b *ngIf="client">{{ client.razon }}</b></p>
        </div>
        
      </div>
      <div>
          <button class="volver_ no-print" (click)="goBack()">
            Volver
          </button>
          <button class="imprimir_ no-print" onclick="window.print()">
            Imprimir
          </button>
          <button class="guardar_ no-print">
            Guardar
          </button>
        </div>
    </section>
  </div>