<app-navbar></app-navbar>
<div class="app">
  <section>
    <div class="page-landscape">
      <div class="inner">
        
          <table class="table1_">
            <tr>
              <td rowspan="5" style="width: 30%;"><img src="assets/mt.png" style="height: 2.5cm;"></td>
              <td rowspan="2" style="width: 15%;">
                <h2><b>INFORME DE NO COMFORMIDAD</b></h2>
              </td>
              <td rowspan="2">
                <p>Proyecto ( <b *ngIf="clientF.value"><span *ngIf="clientF.value.desc=='PRO'">X</span></b> ) <span style="padding-right: 3em;"></span> Memorias Técnicas Descriptivas ( )</p>
                <p>Instalación en Sitio ( <b *ngIf="clientF.value"><span *ngIf="clientF.value.desc=='INS'">X</span></b> ) <span style="padding-right: 3em;"></span> Pruebas ( )</p>
              </td>
              <td style="padding-top: 3mm; width: 10%;">CÓDIGO: <b>FT-08</b></td>
            </tr>
            <tr>
              <td>EDICIÓN: <b>1</b></td>
            </tr>
            <tr>
              <td rowspan="3">
                <p>No. UVSEIE 448-A-<b *ngIf="client">{{ client.nocontrol }}/{{ ff.a }}</b></p>
                <p>Fecha: <b *ngIf="client">{{ ff.d }}/{{ mes }}/{{ ff.a }}</b></p>
              </td>
              <td rowspan="3">
                <p>Cliente: <b *ngIf="client" style="text-transform: uppercase;">{{ client.razon }}</b></p>
                <p>Domicilio: <b *ngIf="client">{{ client.calle }} {{ client.colonia }}, {{client.munic}}
                    {{client.estado}} C.P. {{client.cp}}.</b></p>
              </td>
              <td>NIVEL REV: <b>3</b></td>
            </tr>
            <tr>
              <td rowspan="2">Vigente: <b>05-Dic-14</b></td>
            </tr>
          </table>

          <form [formGroup]="clientF" autocomplete="off">
          <table class="table3_">
            <tr>
              <th class="col1_">No</th>
              <th class="col2_">Descripción de No Conformidades</th>
              <th class="col3_">No Conforme con la(s) seccion(es) <span *ngIf="nom">de la</span><span *ngIf="!nom">del</span> {{ clientF.value.tipo }}</th>
              <th class="cols_">Fecha de revisión</th>
              <th>Acciones Correctivas <p>(Por el Cliente)</p>
              </th>
              <th class="cols_">Fecha de solución</th>
            </tr>
            <tr>
              <td style="text-align: center;"><input type="number" formControlName="n1"></td>
              <td><textarea rows="3" formControlName="d1"></textarea></td>
              <td><textarea rows="3" formControlName="nc1"></textarea></td>
              <td><input type="date"formControlName="fr1"></td>              
              <td><textarea rows="3" formControlName="a1"></textarea></td>
              <td><input type="date"formControlName="fs1"></td>     
            </tr>
            <tr *ngIf="clientF.value.filas > 1">
              <td style="text-align: center;"><input type="number" formControlName="n2"></td>
              <td><textarea rows="3" formControlName="d2"></textarea></td>
              <td><textarea rows="3"  formControlName="nc2"></textarea></td>
              <td><input type="date"formControlName="fr2"></td>     
              <td><textarea rows="3" formControlName="a2"></textarea></td>
              <td><input type="date"formControlName="fs2"></td>     
            </tr>
            <tr *ngIf="clientF.value.filas > 2">
              <td style="text-align: center;"><input type="number" formControlName="n3"></td>
              <td><textarea rows="3" formControlName="d3"></textarea></td>
              <td><textarea rows="3"  formControlName="nc3"></textarea></td>
              <td><input type="date"formControlName="fr3"></td>     
              <td><textarea rows="3" formControlName="a3"></textarea></td>
              <td><input type="date"formControlName="fs3"></td>     
            </tr>
            <tr *ngIf="clientF.value.filas > 3">
              <td style="text-align: center;"><input type="number" formControlName="n4"></td>
              <td><textarea rows="3" formControlName="d4"></textarea></td>
              <td><textarea rows="3"  formControlName="nc4"></textarea></td>
              <td><input type="date"formControlName="fr4"></td>     
              <td><textarea rows="3" formControlName="a4"></textarea></td>
              <td><input type="date"formControlName="fs4"></td>     
            </tr>
            <tr *ngIf="clientF.value.filas > 4">
              <td style="text-align: center;"><input type="number" formControlName="n5"></td>
              <td><textarea rows="3" formControlName="d5"></textarea></td>
              <td><textarea rows="3"  formControlName="nc5"></textarea></td>
              <td><input type="date"formControlName="fr5"></td>     
              <td><textarea rows="3" formControlName="a5"></textarea></td>
              <td><input type="date"formControlName="fs5"></td>     
            </tr>
            <tr *ngIf="clientF.value.filas > 5">
              <td style="text-align: center;"><input type="number" formControlName="n6"></td>
              <td><textarea rows="3" formControlName="d6"></textarea></td>
              <td><textarea rows="3"  formControlName="nc6"></textarea></td>
              <td><input type="date"formControlName="fr6"></td>     
              <td><textarea rows="3" formControlName="a6"></textarea></td>
              <td><input type="date"formControlName="fs6"></td>     
            </tr>
          </table>
          </form>
          <div style="position: absolute; bottom: 0; ">
          <p style="font-size: 0.7em;">EL CLIENTE FIJA LA FECHA DE CORRECCIÓN PARA CERRAR LOS INCUMPLIMIENTOS ENCONTRADOS EN EL PROYECTO E
            INSTALACIONES. <b>LA LEY LE CONCEDE 90 DIAS PARA
              CORREGIR LAS NO CONFORMIDADES.</b>CUANDO HAYA EFECTUADO TODAS LAS CORRECCIONES, FAVOR DE AVISAR PARA
            PROGRAMAR UNA NUEVA VISITA DE INSPECCION
          </p>
          <p style="font-size: 0.7em;"><b>IMPORTANTE: EL VERIFICADOR NO ES EL SUPERVISOR DE OBRA DEL SOLICITANTE</b></p> <br>
          <p style="font-size: 0.8em;"><b *ngIf="client">{{ client.cargouv }}: </b> <b *ngIf="client" style="margin-right: 6em;">{{ client.nombreuv }}</b> El Cliente: <b style="text-transform: uppercase;" *ngIf="client">{{ client.razon }}</b></p>
          </div>

       <!--  </form> -->
      </div>

    </div>
    <div>
      <button class="volver_ no-print" (click)="goBack()">
        Volver
      </button>
      <button class="imprimir_ no-print" onclick="window.print()">
        Imprimir
      </button>
      <button class="guardar_ no-print" (click)="submitClientData()">
        Guardar
      </button>
      <button class="pdf_ no-print" (click)="savePDF()">
        PDF
      </button> 
      <button class="mas_ no-print" (click)="addFila()" *ngIf="clientF.value.filas < 6">
        +
      </button>
      <button class="menos_ no-print" (click)="deleteFila()" *ngIf="clientF.value.filas > 1">
        -
      </button>
    </div>
  </section>
</div>